/* Style de {{tabla}} */
.inline-block {
	float:none;
	display: inline-block;
	margin-right: -4px;
}

.space-d {
	margin-right: 1em;
}

.no-float{
    float:none !important;
}

.block{
  display: block !important;
  margin-left: 50%;
  margin-right: 50%;
}
