.page-404 .number,.page-500 .number{letter-spacing:-10px;line-height:128px;font-size:128px;font-weight:300}.page-404 .details,.page-500 .details{margin-left:40px;display:inline-block}.page-404{text-align:center}.page-404 .number{position:relative;top:35px;display:inline-block;margin-top:0;margin-bottom:10px;color:#7bbbd6;text-align:right}.page-404-full-page .page-404,.page-500-full-page .page-500{margin-top:100px}.page-404 .details{padding-top:0;text-align:left}.page-500{text-align:center}.page-500 .number{display:inline-block;color:#ec8c8c;text-align:right}.page-500 .details{text-align:left}.page-404-full-page{overflow-x:hidden;padding:20px;margin-bottom:20px;background-color:#fafafa!important}.page-404-full-page .details input{background-color:#fff}.page-500-full-page{overflow-x:hidden;padding:20px;background-color:#fafafa!important}.page-500-full-page .details input{background-color:#fff}.page-404-3{background:#000!important}.page-404-3 .page-inner img{right:0;bottom:0;z-index:-1;position:absolute}.page-404-3 .error-404{color:#fff;text-align:left;padding:70px 20px 0}.page-404-3 h1{color:#fff;font-size:130px;line-height:160px}.page-404-3 h2{color:#fff;font-size:30px;margin-bottom:30px}.page-404-3 p{color:#fff;font-size:16px}@media (max-width:480px){.page-404 .details,.page-404 .number,.page-500 .details,.page-500 .number{text-align:center;margin-left:0}.page-404-full-page .page-404{margin-top:30px}.page-404-3 .error-404{text-align:left;padding-top:10px}.page-404-3 .page-inner img{right:0;bottom:0;z-index:-1;position:fixed}}


/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
html, body{
	margin:0;
	font-size: 100%;
	font-family: 'Lato', sans-serif;
	background: #fff;
}
body a {
	text-decoration:none;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
a:hover{
 text-decoration:none;
}
input[type="button"],input[type="submit"]{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}

h1,h2,h3,h4,h5,h6{
	margin:0;
	font-family: 'Hind Vadodara', sans-serif;
    font-weight: 600;
}
p{
	margin:0;
}
ul{
	margin:0;
	padding:0;
}
label{
	margin:0;
}
/*-- banner --*/

#nav .nav li {
    margin-right: 1.5em;
    border-radius: 3px;
}

.nav {
    text-decoration-color: #fff;
	margin-top: 15px;
}

.animate {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.navbar-bootsnipp {
    /*background-color: rgb(255, 255, 255);*/
    /*border-color: rgb(95, 176, 228);*/
    border-radius: 0px;
    margin-bottom: 0px;
    z-index: 100;
}

.navbar-bootsnipp:nth-of-type(2) {
    border-top-width: 1px;
    z-index: 50
}

.navbar-bootsnipp.affix-top {
    position: absolute;
    top: 0px;
    width: 50%;
}

.navbar-bootsnipp.affix {
    top: 0px;
    width: 100%;
}

.navbar-bootsnipp .navbar-toggle .icon-bar {
    background-color: rgb(38, 168, 248);
}

.navbar-bootsnipp .navbar-brand {
    color: rgb(55, 178, 255);
    font-weight: 900;
    letter-spacing: 2px;
}

.navbar-bootsnipp .navbar-nav>li>a {
    border: 0px solid rgb(95, 176, 228);
    border-radius: 5px;
    background-color:rgba(0, 0, 0, 0);
    color: #FFFFFF;
    padding: 10px 10px;
}

.navbar-bootsnipp .navbar-nav>li>form>.input-group>input,
.navbar-bootsnipp .navbar-nav>li>form>.input-group>.input-group-btn>.btn {
    border-radius: 5px;
}

.navbar-bootsnipp .navbar-nav>li:not(.disabled).open>a,
.navbar-bootsnipp .navbar-nav>li:not(.disabled).active>a,
.navbar-bootsnipp .navbar-nav>li:not(.disabled)>a:hover,
.navbar-bootsnipp .navbar-nav>li:not(.disabled)>a:focus {
    border-left-width: 5px;
    color: rgb(95, 176, 228);
    padding-left: 10px;
}

.navbar-bootsnipp .navbar-nav>li.disabled>a {
    color: rgba(0, 0, 0, 0);
}

.navbar-bootsnipp .navbar-nav>li>.dropdown-menu {
    border-radius: 0;
    margin-right: -1px;
    min-width: 220px;
    padding: 0px;
}

.navbar-bootsnipp .navbar-nav>li:not(.dropdown-right)>.dropdown-menu {
    left: 0px;
    margin-top: 12px;
    margin-left: -1px;
    right: auto;
}

.navbar-bootsnipp .navbar-nav>li>.dropdown-menu>li>a {
    border-left: 0px solid rgb(95, 176, 228);
    color: rgba(0, 0, 0, 0.33);
    font-size: 16px;
    font-weight: 400;
    padding: 10px 20px;
    white-space: nowrap;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: rgba(0, 0, 0, 0.5);
    border-color: #337ab7;
}

.navbar-bootsnipp .navbar-nav>li>.dropdown-menu>li.active>a,
.navbar-bootsnipp .navbar-nav>li>.dropdown-menu>li>a:hover,
.navbar-bootsnipp .navbar-nav>li>.dropdown-menu>li>a:focus {
    background-color: rgb(245, 245, 245);
    border-left-width: 5px;
    padding-left: 15px;
}

.navbar .bootsnipp-profile>a {
    padding-bottom: 9px;
    padding-top: 9px;
}

.navbar .bootsnipp-profile>a>img {
    border-radius: 50%;
    width: 32px;
}

.navbar .bootsnipp-profile>.dropdown-menu {
    width: 320px;
}

.navbar .bootsnipp-profile>.dropdown-menu>li>.row {
    padding: 5px 15px;
}

.navbar .bootsnipp-profile>.dropdown-menu>li>.row img {
    width: 100%;
}

.navbar-bootsnipp .bootsnipp-search {
    display: none;
}

.navbar-bootsnipp .bootsnipp-search .form-control {
    background-color: rgb(235, 235, 235);
    border-radius: 0px;
    border-width: 0px;
    font-size: 24px;
    padding: 30px 0px;
}

.navbar-bootsnipp .bootsnipp-search .form-control {
    background-color: rgb(235, 235, 235);
    border-radius: 0px;
    border-width: 0px;
    font-size: 24px;
    padding: 25px 0px;
}

.navbar-bootsnipp .bootsnipp-search .form-control:focus {
    border-color: transparent;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar-bootsnipp .bootsnipp-search .input-group-btn>.btn {
    padding: 14px 16px;
    border-radius: 0px;
}

.navbar-bootsnipp .bootsnipp-search .input-group-btn>.btn.active,
.navbar-bootsnipp .bootsnipp-search .input-group-btn>.btn:hover,
.navbar-bootsnipp .bootsnipp-search .input-group-btn>.btn:focus {
    padding: 14px 16px 14px 15px;
}

.navbar-bootsnipp .bootsnipp-search .input-group-btn>.btn-default {
    background-color: rgb(245, 245, 245);
}

.nav-padding {
    padding-top: 61px;
}

@media screen and (min-width: 768px) {
    .navbar-bootsnipp .navbar-brand {
        font-size: 20px;
        height: auto;
        padding: 15px 5px;
    }
    .navbar-bootsnipp .navbar-nav>li>a {
        font-size: 16px;
        letter-spacing: 1px;
    }
    .navbar-bootsnipp .navbar-nav>li:not(.disabled).open>a,
    .navbar-bootsnipp .navbar-nav>li:not(.disabled).active>a,
    .navbar-bootsnipp .navbar-nav>li:not(.disabled)>a:hover,
    .navbar-bootsnipp .navbar-nav>li:not(.disabled)>a:focus {
        border-bottom-width: 5px;
        border-left-width: 0px;
        padding-bottom: 10px;
        padding-left: 14px;
    }
    .navbar-bootsnipp .navbar-nav>li.disabled>a {
        padding-left: 10px;
        padding-right: 10px;
    }
    .navbar-bootsnipp .bootsnipp-search {
        background-color: rgb(235, 235, 235);
        display: block;
        position: absolute;
        top: 100%;
        width: 100%;
        -webkit-transform: rotateX(-90deg);
        -moz-transform: rotateX(-90deg);
        -o-transform: rotateX(-90deg);
        -ms-transform: rotateX(-90deg);
        transform: rotateX(-90deg);
        -webkit-transform-origin: 0 0 0;
        -moz-transform-origin: 0 0 0;
        -o-transform-origin: 0 0 0;
        -ms-transform-origin: 0 0 0;
        transform-origin: 0 0 0;
        visibility: hidden;
    }
    .navbar-bootsnipp .bootsnipp-search.open {
        -webkit-transform: rotateX(0deg);
        -moz-transform: rotateX(0deg);
        -o-transform: rotateX(0deg);
        -ms-transform: rotateX(0deg);
        transform: rotateX(0deg);
        visibility: visible;
    }
    .navbar-bootsnipp .bootsnipp-search>.container {
        padding: 0px;
    }
    .collapse.in {
        display: block;
        background-color: white;
    }
}

/*-- header --*/
.agileits_w3layouts_logo{
	float:left;
	margin-left:5em;
}
.agileits_w3layouts_logo h1 a{
	font-size:1em;
	color:#fff;
	text-decoration:none;
}
.header {
	padding:;
}
.w3_agileits_header_text{
	float: left;
    margin: .6em 0 0 10em;
}
.wthree_search{
	float: right;
       width: 26%;
}
.wthree_search input[type="search"] {
       outline: none;
      padding: 8px 12px;
    background: none;
   border: 1px solid rgba(220, 218, 218, 0.52);
    font-size: 14px;
    color: #fff;
   width: 80%;
    font-weight: 600;
	letter-spacing:1px;
	    font-family: 'Open Sans', sans-serif;
}
.wthree_search input[type="search"]::-webkit-input-placeholder{
	color:#fff !important;
}
.wthree_search input[type="submit"] {
    outline: none;
    padding: 0;
    background: #3be8b0 url(../images/search.png) no-repeat 16px 7px;
    height: 37px;
    border: none;
    width: 14%;
    vertical-align: top;
}
.agileinfo_social_icons{
	float: right;
    margin: 0.5em 1em 0 0;
}
.agileits_social_list li{
	display:inline-block;
}
.agileits_social_list li a{
	width: 30px;
    height: 30px;
    color: #fff;
    text-align: center;
    display: inline-block;
    font-size: 13px;
    border-radius: 50%;

}
.agileits_social_list li a i{
	line-height:2.4em;
}
.agileits_social_list li a:hover{
	color:#fff;
}
a.w3_agile_facebook{
	background:#3b5998;
	border-color:#3b5998;
}
a.agile_twitter{
	background:#1da1f2;
	border-color:#1da1f2;
}
a.w3_agile_dribble{
	background:#ea4c89;
	border-color:#ea4c89;
}
a.w3_agile_rss{
	background:#ffbe4a;
	border-color:#ffbe4a;
}





/*-- header-left --*/
.header {
    padding: 1em 0;
}
.header-left{

}
.w3layouts-logo{
	text-align: center;
}
.w3layouts-logo h1 {
    margin: 0;
}
.w3layouts-logo h1 a {
    color: #fff;
    font-size: 1.2em;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 22px;
}
/*-- //header-left --*/
/*-- w3-header-bottom --*/
.w3-header-bottom {
    background: rgba(33, 33, 33, 0.4);
    padding: 3em 0em 1.5em;
    border-bottom: 2px solid #ffcd30;
}
/*-- top-nav --*/
.top-nav {
    float: right;
    text-align: right;
    width: 100%;
}
.navbar-default {
    border: none !important;
    background: none !important;
    margin: 0 !important;
    min-height: 0 !important;
    padding: 0 !important;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background: none !important;
}
.top-nav ul{
    padding: 0;
    margin: 0;
    float: none;
}
.top-nav ul li {
    display: inline-block;
    float: none;
    position: relative;
    margin: 0 1.5em;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background: none;
    box-shadow: 1px 0px 0px 0px rgba(72, 72, 72, 0);
    outline: none;
    border-right: none;
}
.navbar-nav li.first-list:after {
	background:none;
}
.top-nav ul li a {
    color: #ffffff !important;
    font-size: 1em;
    padding: 0 0.8em;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    border-right: none;
}
.top-nav ul li a.list-border{
	border-left: none;
}
.top-nav ul li a:hover{
    color: #22bcff !important;
}
.top-nav ul li a.active{
	color: #22bcff !important;
    background: none;
}
ul.dropdown-menu {
    background: rgba(0, 0, 0, 0.7);
    margin-top: 5px;
    box-shadow: 0 0 0;
    border: none;
    margin: 0;
    top: 2.8em;
    left: 0px;
    min-width: 106px;
}
ul.dropdown-menu li{
    width: 100% !important;
    margin: 0 !important;
}
ul.dropdown-menu li:after{
	background:none !important;
}
.dropdown-menu > li > a {
    display: block;
    padding: .5em 1em !important;
    text-align: left;
    clear: both;
    margin: .2em 0 !important;
    font-weight: normal;
    line-height: 1.42857143;
    color: #FFFFFF !important;
    border: 15px !important;
	background-color: rgba(0, 0, 0, 0) !important;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background: rgba(0, 0, 0, 0);
}
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 103%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-width: 5px 0 5px 5px;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
/*-- //top-nav --*/
/*-- social-icons --*/
.agileinfo-social-grids ul{
	padding:0;
	margin:0;
}
.agileinfo-social-grids ul li{
    display: inline-block;
}
.agileinfo-social-grids ul li a {
	color: #FFFFFF;
    text-align: center;
}
.agileinfo-social-grids ul li a i.fa{
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.agileinfo-social-grids ul li a i.fa.fa-facebook:hover {
    color: #3b5998;
}
.agileinfo-social-grids ul li a i.fa.fa-twitter{
	margin:0 1em;
}
.agileinfo-social-grids ul li a i.fa.fa-twitter:hover{
	color: #55acee;
}
.agileinfo-social-grids ul li a i.fa.fa-rss{
	margin:0 1em 0 0;
}
.agileinfo-social-grids ul li a i.fa.fa-rss:hover{
	color: #f26522;
}
.agileinfo-social-grids ul li a i.fa.fa-vk:hover{
	color: #45668e;
}
/*-- w3-header-bottom --*/






/*-- //header --*/
/*-- banner --*/
.agile-baner-info-w3ls {
    padding: 11em 24.5em 0 0;
    margin: 0 auto;
}
/*@import url('https://fonts.googleapis.com/css?family=Damion|Leckerli+One');*/



.agile-baner-info-w3ls h3 {
    font-size: 3em;
    color: #fff;
    width: 63%;
    float: right;
    text-align: right;
    text-shadow: 4px 4px 4px #000;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 1.1em;
    text-transform: capitalize;
}
.agile-baner-info-w3ls h5 {
		font-family: 'Calligraffitti', cursive !important;
    font-size: 2em;
		/*font-style: italic;*/
    color: #fff;
    width: 63%;
    float: right;
    text-align: right;
    text-shadow: 4px 4px 4px #000;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 1.1em;

}
.bnr-agileits-w3layouts-btn {
    float: right;
}
.agile-baner-info-w3ls h3 span {
    color: #ff401b;
}
.agile-baner-info-w3ls p {
    font-size: 1.1em;
    font-weight: 500;
    letter-spacing: 4px;
    color: #fff;
}
.w3-header-bottom h1 {
    font-family: 'Cabin Sketch', cursive;
    font-size: 5em;
    letter-spacing: 4px;
    margin-bottom: 0.4em;
    font-weight: 700;
    float: left;
    position: relative;
}
.w3-header-bottom h1 span.square {
    position: absolute;
    width: 1.1em;
    height: 1.1em;
    border: 11px solid rgba(255, 255, 255, 0.45);
    left: -22px;
    top: -2px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
	cursor:pointer;
}
.w3-header-bottom h1 a {
    color: #fff;
    text-decoration: none;
}
.w3-header-bottom h1 a span.letter {
    color: #22bcff;
}
.phone-wthree-left {
    float: left;
    border-right: 4px solid #22bcff;
    padding: 10px;
    margin-right: 14px;
}
.phone-wthree-left i {
    font-size: 2.5em;
    float: left;
    padding-right: 10px;
    color: #ffcd30;
}
.agileinfo-phone {
    float: left;
}
.agileinfo-phone p {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 23px;
}
.agileinfo-phone h2 {
    float: right;
    font-size: 2.3em;
    font-weight: bold;
    color: #ffffff;
    margin-top: 12px;
    letter-spacing: 1px;
}
.header-w3-top {
    width: 50%;
    float: right;
}
ul.top_agile_w3l_info_icons li {
    color: #fff;
    font-weight:400;
    font-size:14px;
    letter-spacing: 1px;
    display:inline-block;
	font-family: 'Open Sans', sans-serif;
}
ul.top_agile_w3l_info_icons li i {
    margin: 0px 14px;
    color: #ff401b;
}
ul.top_agile_w3l_info_icons li a {
    color: #fff;
}
.grids-right-wthree i {
    font-size: 3em;
    line-height: 67px;
    margin-right: 0.5em;
    width: 50px;
    text-align: center;
}
.i1{
	color:#ea4c89;
}
.i2{
	color:#8aba56;
}
.i3{
	color:#00b6e3;
}
.i4{
	color:#ff8833;
}
.grids-right-wthree {
    float: left;
}
.grids-left-wthree {
    float: left;
    text-align: left;
}
.grids-left-wthree p {
    color: #7b7a74;
    font-size: 16px;
    letter-spacing: 1px;
}
.grids-inner-wthree {
    margin-top: 1.7em;
}
.grids-left-wthree span {
    font-size: 1.5em;
    color: rgba(255, 255, 255, 0.51);
    display: block;
    letter-spacing: 4px;
}
/* Bounce In */
.hvr-bounce-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

/*--// banner --*/
/*-- modal --*/
.modal-content img {
    width: 100%;
    margin: 1em 0;
}
.modal-content h4 {
    color: #000000;
    text-align: center;
    font-size: 3.5em;
    margin-bottom: 15px;
    display: inline;
    font-family: 'Cabin Sketch', cursive;
}
.modal-content h4 span {
    color: #22bcff;
}
.modal-content h5 {
    color: #1ca0de;
    padding: 20px 0 6px;
    font-size: 22px;
    margin-left: 0px;
}
.modal-content p {
    color: #000;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.5px;
    word-spacing: 1px;
}
 .modal-dialog {
    margin: 109px auto;
}
/*-- //modal --*/
/*-- main --*/
.banner-overlay-agileinfo {
    background: url(../images/overlay.png)repeat;
    padding: 0em 0 13.2em 0;
}
.register-wthree,.test,.about-top-w3layouts,.welcome,.stats-agileits,.contact,.services,.team-w3layouts,.agile_menu{
	padding:5em 0em ;
}
h3.sub-tittle-agileits, .right-w3ls-gridsa h3 {
    color: #000;
    font-size: 2.5em;
    letter-spacing: 1px;
    margin-bottom: 0.5em;
    line-height: 50px;
}
.right-w3ls-gridsa h3 {
    color: #fff;
}
h3.sub-tittle-agileits span,.right-w3ls-gridsa h3 span {
    color: #ffcd30;
}
h4.tittles-w3agileits{
	color: #000;
    font-size: 3em;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin-bottom: 1em;
}
h4.tittles-w3agileits span{
	color: #ffcd30;
}
p.para-w3-agile {
    color: #777;
    font-size: 16px;
    letter-spacing: .4px;
    line-height: 33px;
}
a.button-w3layouts {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 20px;
    background: #22bcff;
    letter-spacing: 1px;
    font-size: 13px;
    display: inline-block;
    margin-top: 1.5em;
}
.white-w3ls{
	color: #fff!important;
}
.black-wthree{
	color:#000!important;
}
/*-- button-hover-effect --*/
.hvr-rectangle-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  background: #e1e1e1;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-rectangle-out:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #171717;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-rectangle-out:hover, .hvr-rectangle-out:focus, .hvr-rectangle-out:active {
  color: white;
  outline:none;
}
.hvr-rectangle-out:hover:before, .hvr-rectangle-out:focus:before, .hvr-rectangle-out:active:before {
  -webkit-transform: scale(1);
  transform: scale(1);
}
/*-- //button-hover-effect --*/
/*-- //main --*/

/*-- about --*/
.about-w3layouts {
    width: 85%;
    float: right;
}
.about-mid-w3-agileits {
    width: 80%;
    float: left;
}
.gallery-gridsa {
    background: url(../images/a.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    min-height: 429px;
    width: 40%;
}
.gallery-gridsa1 {
    background: url(../images/a1.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    min-height: 389px;
}
.gallery-gridsa2 {
    background: url(../images/a2.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    min-height: 406px;
}
.gallery-grid img {
    width: 100%;
}
.gallery-grids {
	padding: 5px;
}

.gallery-grid {
    padding: 8px;
}
.gallery-grid-images {
    margin-top: 3em;
}
.gallery-grids2 {
    padding: 3em;
}
.gallery-grids h5 {
    color: #1bb4b9;
    font-size: 17px;
    font-weight: 300;
    letter-spacing: 2px;
    padding-bottom: 10px;
}
.right-w3ls-gridsa {
    width: 60%;
    background: #171717;
}
/*-- //about --*/
/*-- services --*/
.service-grids-w3ls {
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
    width: 100%;
}
.service-grids-w3ls i {
    font-size: 3em;
    width: 55px;
    text-align: center;
    margin-right: .5em;
    float: left;
    line-height: 50px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.serv-rt-w3-agile{
	float:left;
}
.service-grids-w3ls h5 {
    color: #22bcff;
    text-shadow: 1px 1px 2px #c2c6c7;
    font-size: 21px;
    letter-spacing: .6px;
    text-transform: capitalize;
    padding: 0px 0 4px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.service-grids-w3ls p {
    color: #616161;
    font-size: 16px;
    letter-spacing: 1px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.service-grids-w3ls:nth-child(4), .service-grids-w3ls:nth-child(2), .service-grids-w3ls:nth-child(3) {
    margin-bottom: 1.95em;
}
.services-info {
    padding: 7.5em 3em 7.5em 11em;
    background: #171717;
    text-align: right;
    width: 49%;
}
.services-info-bg {
    background: #000;
}
.services-info h6 {
    font-size: 2em;
    letter-spacing: 2px;
    color: #fff;
    line-height: 59px;
}
.services-info h6 span {
    font-size: 1.5em;
    color: #ffcd30;
}
.services-left {
    padding: 3em;
}
.services-w3-agileits {
    border-top: 1px solid #171717;
    border-bottom: 1px solid #171717;
}
/*-- //services --*/
/*--Register--*/
.register-wthree{
	 background: url(../images/register.jpg)no-repeat 0px 0px;
    background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	background-attachment:fixed;
}
.regstr-l-w3-agileits h4 {
    color: #fff;
    text-transform: uppercase;
    font-size: 60px;
    letter-spacing: 5px;
}
.regstr-l-w3-agileits {
    margin-top: 2.3em;
}
.form-bg-w3ls input[type="text"], .form-bg-w3ls input[type="email"], .form-control {
    width: 100%!important;
    padding: 8px 10px!important;
    height: 39px;
    font-weight: normal;
    background: rgba(255, 255, 255, 0.13);
    border-radius: 0;
    border: none;
    border-bottom: 2px solid rgba(74, 73, 71, 0.36);
    color: #ffffff !important;
    outline: none;
    font-size: 14px;
    margin: 18px 0px 0px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
    font-family: 'Lato', sans-serif;
}
.form-control:focus,.form-control:hover{
	outline:none;
	border-color:rgba(74, 73, 71, 0.36);
}
.form-control {
    background: #39bec2!important;
}
.form-bg-w3ls {
    padding: 2em;
    width: 85%;
    margin: 0 auto;
    background: #1bb4b9;
}
.form-bg-w3ls h3 {
    color: #fff;
    text-align: center;
    font-size: 22px;
    text-transform: capitalize;
    letter-spacing: .5px;
	margin-bottom: 10px;
}
.form-bg-w3ls .para-w3-agile {
    color: #aee8e8!important;
    text-align: center!important;
    line-height: 22px!important;
    width: 80%;
    margin: 0 auto;
}
.form-bg-w3ls input[type="submit"] {
    background: #fff;
    color: #060606;
    font-size: 13px;
    text-transform: uppercase;
    margin: 0 auto;
    margin-top: 2em;
    border: none;
    outline: none;
    letter-spacing: 1px;
    display: block;
    cursor: pointer;
    -webkit-appearance: none;
    padding: 10px 40px;
    font-family: 'Lato', sans-serif;
    transition: .5s ease-in;
    -webkit-transition: .5s ease-in;
    -moz-transition: .5s ease-in;
    -o-transition: .5s ease-in;
    -ms-transition: .5s ease-in;
}
.form-bg-w3ls input[type="submit"]:hover{
	background:#ffcd30;
	color:#fff;
}
/*-- Countdown-Timer --*/
h3.tittle {
    font-size: 3em;
    color: #333;
	letter-spacing:2px;
	text-align:center;margin-bottom:0.5em;
}
.countdown-timer-w3laits {
    background: url(../images/count.jpg)no-repeat 0px 0px;
    background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	   min-height:550px;
}
.agile-its {
    padding-top: 10em;
    margin: 0 auto;
}

.simply-section {
    display: inline-block;
    width: 24%;
    float: left;
    text-align: center;
    padding: 48px 0px 29px;
    border-radius: 82px;
    margin: 0 2px;
    background: rgba(0, 0, 0, 0.45);
}

.countdown-timer-w3laits h3 {
       font-weight:200;
	   font-size:3em;
    margin-bottom: 40px;
    color: #fff;
    text-align: center;
    letter-spacing: 3px;

}
.countdown-timer-w3laits h4 {
    margin-bottom:30px;
    color: #fff;
    text-align: center;
    letter-spacing:3px;
	font-size:2em;
	text-transform:uppercase;
}
section.examples {
    margin-top: 3em;
}
.countdown-timer-w3laits h3  span{
	     color: #ff8c00;
}
span.simply-amount {
    font-size: 2.5em;
    line-height: 0;
    font-weight: 100;
    color: #1bb4b9;
	letter-spacing: 1px;
    font-weight: 500;
}

span.simply-word {
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 500;
    /* margin-left: 5px; */
    text-transform: uppercase;
    color: #ffcd30;
    display: block;
    margin-top: 0.5em;
}
/*-- //Countdown-Timer --*/
/*--//Register--*/
/*-- agile_testimonials --*/
.test-info-w3ls {
    padding: 1em;
    margin-top: 1em;
    background: #22bcff;
    border-left: 5px solid #ffcd30;
}
.test-grid h4 {
    font-size: 1.5em;
    color: #fff;
    font-weight: 600;
    letter-spacing: .8px;
    margin: 0em 0 0em;
}
.test-grid span {
    font-size: 0.99em;
    color: #0084bd;
    letter-spacing: 1.5px;
}
.test-grid1 {
    position: relative;
    padding: 3.5em 2em 0;
}
img.img-r {
    width: 100%;
}
.test-left-agileinfo {
    padding: 8.7em 0;
    border-right: 3px solid #eee;
}
.test-grid1 p i {
    font-size: 4em;
    padding-right: 0.2em;
    color: rgba(34, 188, 255, 0.33);
}
/*-- //agile_testimonials --*/
/*--inner pages--*/
.inner-banner-w3layouts {
    background: url(../images/inner.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
h2.inner-tittle-w3layouts {
    color: #fff;
    font-size: 36px;
    text-transform: capitalize;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 1.5em;
}
/*--About-inner*/
.abt-img {
    background: url(../images/abt-inn.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 300px;
    border: 5px solid #1bb4b9;
}
/*-- Tabs --*/
.tabs {
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	width: 100%;
}
.tabs nav {
    text-align: center;
    margin-bottom: 50px;
}

.tabs nav ul {
		position: relative;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: flex;
		margin: 0 auto;
		padding: 0;
		max-width: 100%;
		list-style: none;
		-ms-box-orient: horizontal;
		-ms-box-pack: center;
		-webkit-flex-flow: row wrap;
		-moz-flex-flow: row wrap;
		-ms-flex-flow: row wrap;
		flex-flow: row wrap;
		-webkit-justify-content: center;
		-moz-justify-content: center;
		-ms-justify-content: center;
		justify-content: center;
}
.tabs nav ul li {
		position: relative;
		z-index: 1;
		display: block;
		margin: 0;
		text-align: center;
		-webkit-flex: 1;
		-moz-flex: 1;
		-ms-flex: 1;
		flex: 1;
}
.tabs nav a {
		position: relative;
		display: block;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		line-height: 2.5;
}
.tabs nav a span {
	vertical-align: middle;
	font-size: 0.75em;
}

.tabs nav li.tab-current a {
	color: #74777b;
}
li.tab-current a.icon.icon-box {
    border-radius: 0;
}
.tabs nav a:focus {
		outline: none;
}
.content-wrap {
  position: relative;
}
.content-wrap section {
  display: none;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
.content-wrap section.content-current {
   display: block;
}
.content-wrap section p {
	margin: 0;
	padding: 0.75em 0;
	color: rgba(40,44,42,0.05);
	font-weight: 900;
	font-size: 4em;
	line-height: 1;
}
.no-js .content-wrap section {
	display: block;
	padding-bottom: 2em;
	border-bottom: 1px solid rgba(255,255,255,0.6);
}
.no-flexbox nav ul {
	display: block;
}
.no-flexbox nav ul li {
	min-width: 15%;
	display: inline-block;
}
.tabs-style-bar nav ul {
	border: 4px solid transparent;
}
.tabs-style-bar nav ul li a {
	margin: 0 2px;
	background-color: #F5F5F5;
	color: #333;
	transition: background-color 0.2s, color 0.2s;
	padding: 7px 0;
}
.tabs-style-bar nav ul li a:hover, .tabs-style-bar nav ul li a:focus {
	color: #de0f17;
}
.tabs-style-bar nav ul li a span {
	letter-spacing: 1px;
	font-size: 15px;
}
.tabs-style-bar nav ul li.tab-current a {
	background: #de0f17;
	color: #fff;
}
.tab-image img {
    width: 100%;
}
/*-- //Tabs-Styling --*/
/*--menu--*/
.menu-tag {
    position: absolute;
    top: 0%;
    left: 42%;
    margin-top: 5em;
}
.menu-text {
	margin-bottom: 4em;
	position:relative;
    -webkit-transition:.5s all;
	-moz-transition:.5s all;
	transition:.5s all;
}
.menu-text:hover .rep-w3l-img img{
    border: 3px solid #de0f17;

}
.menu-text-left{
    float: left;
    width: 80%;
    text-align: left;
}
.menu-text-left h4 {
   font-size: 1.1em;
    margin: 0;
    color: #3b3b3c;
    margin-bottom: 0.4em;
    text-transform: uppercase;
    font-weight: 600;
}
.menu-text-left h6 {
         font-size: 0.8em;
    margin: 0;
    color: #de0f17;
    text-transform: capitalize;
    font-weight: 400;
    letter-spacing: 1px;
}
.rep-w3l-text {
    float: left;
    width: 70%;
      margin-top: 1.5em;
}
.menu-text-right{
	float:right;
	width: 18%;
}
.menu-text-right h4 {
    margin: 0;
    font-size: 20px;
    color: #1d1d1d;
    text-align: left;
    margin-top: 20px;
}
.menu-grids-info {
  position: relative;
}
.menu-rate{
  position: absolute;
  width: 92%;
  top: 0%;
  left: 15px;
  display: none;
  background: rgba(0, 0, 0, 0.5);
}
.menu-rate h5{
  font-size: 30px;
  font-weight: 500;
  color:#fff;
  letter-spacing:0.5px;
  margin: 1em 0;
  text-align: center;
}
.menu-grids-info:hover div.menu-rate {
  display: block;
}
.menu-spl {
  position: relative;
}
.menu-spl:hover div.menu-rate {
  display: block;
}
.menu-rate.spl-rate {
  width: 95%;
}
.rep-w3l-img {
      float: left;
    margin-right: 4%;
    width: 24%;
}
.rep-w3l-img img {
      border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -moz-border-radius: 50%;
    border: 3px solid #fff;
    padding:7px;
	    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.menu_w3ls_agile_top_section{
	position:relative;
}
.tab-info p {
    margin: 0.5em 0 0em 0;
}
.tab-info h4 {
    margin-bottom: 0em;
    font-weight: 700;
    color: #207fdc;
    font-size: 1.4em;
    letter-spacing: 1px;
    line-height: 33px;
}
.machine-img {
    position: absolute;
    left: 0%;
    bottom: 0%;
}
.machine-img img{
    width: 235px;
}
/*-- Tab-Images --*/
/*-- //Tabs --*/
/*-- Stats --*/
.stats-agileits {
    background: url(../images/stats.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
	position:relative;
}
.stats-grid {
    text-align: left;
    border: 10px solid rgba(255, 255, 255, 0.12);
    padding: 1em;
    width: 48.99%;
}
.stats-grid:nth-child(1),.stats-grid:nth-child(2) {
    margin-bottom: 0.8em;
}
.stats-grid:nth-child(1),.stats-grid:nth-child(3) {
    margin-right: 0.8em;
}
.numscroller {
    font-size: 51px;
    color: #fff;
    letter-spacing: 1px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}
.stats-grid h4 {
    font-size: 24px;
    font-weight: 700;
    margin-top: .5em;
    color: #22bcff;
    text-transform: capitalize;
    padding: 10px 0 10px 20px;
    line-height: 21px;
    letter-spacing: 1px;
    border-left: 2px solid #ffcd30;
}
/*-- //Stats --*/
/*--team--*/
.team-img-1 img,.team-img-2 img,.team-img-3 img,.team-img-4 img{
	width:100%;
}
.team-info {
    padding: 1.5em;
    border: 1px solid #d8d8d8;
    border-top: none;
}
.team-info .para-w3-agile{
	margin-top:1em;
}
.team-agileits-topl h5 {
    font-size: 1.4em;
    letter-spacing: 1px;
    color: #22bcff;
}
.team-agileits-topl p {
    font-size: 15px;
    letter-spacing: 1.5px;
    color: #999;
}
.team-agileits-topl {
    float:left;
}
.team-grids-w3ls .agileinfo-social-grids {
    float:right;
}
.team-grids-w3ls .agileinfo-social-grids li a {
	color:#999!important;
}
.team-grids-w3ls:nth-child(3),.team-grids-w3ls:nth-child(2){
	margin-bottom:2em;
}
/*--//team--*/
/*--//About-inner*/
/*-- services-inner --*/
.banner1 h3{
	font-size: 3em;
    color: #fff;
    padding-top: 2.6em;
}
.agile_services_grid{
	position:relative;
}
.agile_services_grid_pos{
	position: absolute;
    bottom: -20%;
    left: 5%;
    width: 85px;
    height: 85px;
    background: #22bcff;
    border-radius: 50px;
    border: 5px solid #fff;
    text-align: center;
}
.w3_agile_services_grid:hover .agile_services_grid_pos{
	background: #212121;
}
.agile_services_grid_pos i{
	font-size: 2em;
    color: #fff;
    line-height:2.3em;
}
.w3_agile_services_grid h4{
	font-size:1.3em;
    color: #212121;
    margin: 2.5em 0 0.5em;
    text-transform: capitalize;
}
.column div {
	position: relative;
    padding: 0;
}
.agile_services_grid figure {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* Rotate */
.hover06 figure img {
	-ms-transform: rotate(15deg) scale(1.5);
	-o-transform: rotate(15deg) scale(1.5);
	-moz-transform: rotate(15deg) scale(1.5);
	-webkit-transform: rotate(15deg) scale(1.5);
	transform: rotate(15deg) scale(1.5);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	-moz-transition: .3s ease-in-out;
	-o-transition: .3s ease-in-out;
	-ms-transition: .3s ease-in-out;
}
.hover06 figure:hover img,.w3_agile_services_grid:hover .hover06 figure img{
	-webkit-transform: rotate(0) scale(1);
	transform: rotate(0) scale(1);
	-moz-transform: rotate(0) scale(1);
	-o-transform: rotate(0) scale(1);
	-ms-transform: rotate(0) scale(1);
}
.w3_agile_services_grid:nth-child(1),.w3_agile_services_grid:nth-child(2),.w3_agile_services_grid:nth-child(3) {
    margin-bottom: 2em;
}
/*-- //services-inner --*/
/*--blog --*/
.blog-image-agileits-w3layouts img {
    width: 100%;
}
.blog-grids-w3-agile {
    padding: 0;
    border: .5px solid #eee;
}
.blog-info {
    padding: 30px 30px 0px;
}
.blog-info h4 {
    font-size: 19px;
    margin-top: 10px;
    display: block;
	text-decoration:none;
}
.blog-info h4 a {
    color: #ffcd30!important;
    text-decoration: none;
}
.blog-info h6 {
    text-transform: uppercase;
    font-size: 14px;
    display: inline-block;
    margin-right: 14px;
}
.blog-info span {
    color: #bbb8b8;
    font-size: 14px;
}
.blog-info p {
    font-size: 15px;
    line-height: 28px;
    color: #777;
    margin-top: 15px;
}
.blog-btm-w3 {
    margin: 15px 0;
}
.blog-btm-w3 a {
    text-decoration: none;
}
.blog-left-w3ls {
    width: 50%;
    float: left;
}
.blog-right-w3ls {
    width: 50%;
    float: right;
    text-align: right;
    margin-top: 12px;
}
.blog-left-w3ls img {
    width: 30%;
    border-radius: 50%;
    display: inline;
}
.blog-left-w3ls a {
    color: #ffcd30;
    display: inline;
    padding-left: 10px;
    font-weight: 500;
}
.blog-right-w3ls i {
    color: #313030;
    font-size: 19px;
    padding-right: 6px;
}
.blog-right-w3ls a {
    text-decoration: none;
    color: #777;
    font-size: 14px;
    letter-spacing: .5px;
}
.blog-w3ls-mid h6 {
    color: #fff;
    background: #1bb4b9;
    padding: 2em 1em;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 1px;
    text-align: center;
}
.blog-w3ls-mid h6 a {
    color: #147e82;
    display: block;
    font-size: 21px;
    text-decoration: none;
}
.blog-w3ls-mid {
    padding: 0;
}
.blog-mid-img{
	background:url(../images/b2.jpg) no-repeat 0px 0px;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	min-height:440px;
}

/*-- //blog --*/
/*-- gallery --*/
.w3layouts_gallery_grid {
    margin-top: 2em;
}
.w3layouts_gallery_grid:nth-child(1), .w3layouts_gallery_grid:nth-child(2), .w3layouts_gallery_grid:nth-child(3) {
    margin-top: 0!important;
}
.gallerie-imagebox img {
	transition: all 500ms;
	-webkit-transition: all 500ms;
	-moz-transition: all 500ms;
	-ms-transition: all 500ms;
	-o-transition: all 500ms;
}
.gallerie-imagebox .loading {
	opacity: 0.3;
}



.w3ls_news_grids{
	margin:3em 0 0;
}
.agileits_w3layouts_news_grid{
	padding:1.5em;
	background:#f5f5f5;
}
.agileits_w3layouts_news_grid ul li{
	display:inline-block;
	font-weight:600;
	color:#212121;
}
.agileits_w3layouts_news_grid ul li:last-child{
	margin-left:2em;
}
.agileits_w3layouts_news_grid ul li i{
	padding-right:1em;
	color:#a0d034;
}
.agileits_w3layouts_news_grid ul li a{
	color:#212121;
	text-decoration:none;
}
.agileits_w3layouts_news_grid ul li a:hover{
	color:#a0d034;
}
.agileits_w3layouts_news_grid h4{
	font-size:1.3em;
	color:#212121;
	margin:1em 0;
}
.agileits_w3layouts_news_grid h4 a{
	color:#212121;
	text-decoration:none;
}
.agileits_w3layouts_news_grid h4 a:hover{
	color:#a0d034;
}
.agileits_w3layouts_news_grid h4 a:focus{
	outline:none;
}
.agileits_w3layouts_news_grid p{
	color:#999;
	line-height:2em;
}
.w3layouts_news_grid{
    overflow: hidden;
    position: relative;
}
.w3layouts_news_grid_pos{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color:rgba(0, 0, 0, 0.4);
    right: 0;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    transition: all 400ms ease;
}
.w3layouts_news_grid_pos{
    -webkit-transform: scale3d(0,0,1);
    -moz-transform: scale3d(0,0,1);
    -ms-transform: scale3d(0,0,1);
    transform: scale3d(0,0,1);
}
.w3ls_news_grid:hover .w3layouts_news_grid .w3layouts_news_grid_pos,.w3_agileits_team_grid:hover .w3layouts_news_grid .w3layouts_news_grid_pos,
.w3layouts_gallery_grid:hover .w3layouts_news_grid .w3layouts_news_grid_pos{
    opacity:1;
	-webkit-transform: scale3d(1,1,1);
    -moz-transform: scale3d(1,1,1);
    -ms-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
}
.w3ls_news_grid:hover .wthree_text,.w3_agileits_team_grid:hover .wthree_text,
.w3layouts_gallery_grid:hover .wthree_text{
    opacity: 1;
	-webkit-transform: translateY(0) scale3d(1,1,1);
    -moz-transform: translateY(0) scale3d(1,1,1);
    -ms-transform: translateY(0) scale3d(1,1,1);
    transform: translateY(0) scale3d(1,1,1);
    -webkit-transition: transform 400ms ease 380ms;
    -moz-transition: transform 400ms ease 380ms;
    transition: transform 400ms ease 380ms;
}
.wthree_text {
    text-align: left;
    padding: 4.5em 0 0 3em;
    opacity: 0;
    -webkit-transform: translateY(0) scale3d(0,0,1);
    -moz-transform: translateY(0) scale3d(0,0,1);
    -ms-transform: translateY(0) scale3d(0,0,1);
    transform: translateY(0) scale3d(0,0,1);
    -webkit-transition: transform 400ms ease 280ms;
    -moz-transition: transform 400ms ease 280ms;
    transition: transform 400ms ease 280ms;
}
.wthree_text h3{
	color:#fff;
	font-size:3em;
	font-family: 'Cabin Sketch', cursive;
}
.wthree_text h3 span{
	color:#22bcff;
}
.wthree_text p {
    font-size: 14px;
    letter-spacing: 1px;
    color: #ffcd30;
    padding-left: 5em;
    position: relative;
}
.wthree_text p:after {
    content: "";
    position: absolute;
    top: 132%;
    left: 44%;
    z-index: 1;
    width: 6em;
    height: 0.1em;
    background: #ffffff;
}
/*-- //gallery --*/
/*-- single-page --*/
/*--single-page-posts --*/
.agileits_recent_posts_gridr {
    float: right;
    width: 65%;
}
.agileits_recent_posts_gridr h4 a {
    font-size: 1em;
    text-decoration: none;
    color: #212121;
    line-height: 1.5em;
    text-transform: capitalize;
}
.agileits_recent_posts_gridr h4 a:hover {
    color: #999;
}
.agileits_recent_posts_gridr ul li {
    display: inline-block;
    margin-right: 1.5em;
    color: #999;
}
.agileits_recent_posts_gridr ul li:last-child{
	margin:0;
}
.agileits_recent_posts_gridr ul li span {
    padding-right: .5em;
    color: #ffcd30;
    font-size: 13px;
}
.agileits_recent_posts_gridr ul li a {
    color: #999;
    text-decoration: none;
}
.agileits_recent_posts_gridr ul li a:hover {
    color: #ff9900;
}
.agileits_recent_posts_grid:nth-child(2),.agileits_recent_posts_grid:nth-child(3){
	margin: 0em 0 1em;
}
.w3l_categories ul{
	padding:2em 0 0;
}
.w3l_categories ul li{
	display:block;
	margin-bottom:1.5em;
}
.w3l_categories ul li:last-child{
	margin:0;
}
.w3l_categories ul li a{
	color:#212121;
	text-transform:capitalize;
	text-decoration:none;
}
.w3l_categories ul li a:hover{
	color:#F44336;
}
.w3l_categories ul li a span{
	padding-right:1em;
	color:#F44336;
}
.agileinfo_calender_grid{
	margin:2em 0 0;
}
.wthree_faq,.agileits_comment{
	margin:3em 0 0;
}
.agileits_recent_posts_gridl {
    width: 31%;
    float: left;
}
/*-- //single-page-posts --*/
/*-- Slider Part starts Here --*/
/*--slider--*/
#slider3,#slider4,#slider5  {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0 auto;
}
.rslides_tabs {
  list-style: none;
  padding: 0;
  background: rgba(0,0,0,.25);
  box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  -moz-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  /*-- w3layouts --*/
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  font-size: 18px;
  list-style: none;
  margin: 0 auto 50px;
  max-width: 540px;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}
.rslides_tabs li {
  display: inline;
  margin-right: 1px;
}
.rslides_tabs a {
  width: auto;
  line-height: 20px;
  padding: 9px 20px;
  height: auto;
  background: transparent;
  display: inline;
}
.rslides_tabs li:first-child {
  margin-left: 0;
}
.rslides_tabs .rslides_here a {
  background: rgba(255,255,255,.1);
  color: #fff;
  font-weight: bold;
}
.events {
  list-style: none;
}
.callbacks_container {
  position: relative;
  width: 100%;
}
.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.callbacks li {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
/*-- agileits --*/

.callbacks img {
  position: relative;
  z-index: 1;
  height: auto;
  border: 0;
}
.callbacks .caption {
	display: block;
	position: absolute;
	z-index: 2;
	font-size: 20px;
	text-shadow: none;
	color: #fff;
	left: 0;
	right: 0;
	padding: 10px 20px;
	margin: 0;
	max-width: none;
	top: 10%;
	text-align: center;
}
.callbacks_nav {
  	position: absolute;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	top: 61%;
	left: 0;
	opacity: 0.7;
	z-index: 3;
	text-indent: -9999px;
	overflow: hidden;
	text-decoration: none;
	height: 62px;
	width: 45px;
	margin-top: -65px;
}
.callbacks_nav:active {
  opacity: 1.0;
}

#slider3-pager a,#slider4-pager a ,#slider5-pager a  {
  display: inline-block;
}
#slider3-pager span,#slider4-pager span,#slider5-pager span{
}
#slider3-pager span,#slider4-pager span,#slider5-pager span{
	width:100px;
	height:15px;
	background:#fff;
	display:inline-block;
	/*-- w3layouts --*/
	border-radius:30em;
	opacity:0.6;
}
#slider3-pager .rslides_here a ,#slider4-pager .rslides_here a,#slider5-pager .rslides_here a {
  background: #FFF;
  border-radius:30em;
  opacity:1;
}
#slider3-pager a ,#slider4-pager a,#slider5-pager a  {
  padding: 0;
}
#slider3-pager li, #slider4-pager li, #slider5-pager li{
	display:inline-block;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}
.rslides li{
  position: relative;
  display: block;
}

.callbacks_tabs{
	list-style: none;
	position: absolute;
    top: 140%;
    z-index: 999;
    left: 45.2%;
	padding: 0;
	margin: 0;
}
ul.callbacks_tabs.callbacks2_tabs {
    top: 120%;
    left: 30%;
}
.banner-text1{
	background: url(../images/slider1.jpg) no-repeat 0px 0px;
}
.banner-text2{
	background: url(../images/slider2.jpg) no-repeat 0px 0px;
}
.banner-text3{
	background: url(../images/slider3.jpg) no-repeat 0px 0px;
}
.banner-text4{
	background: url(../images/slider4.jpg) no-repeat 0px 0px;
}
.banner-text1,.banner-text2,.banner-text3,.banner-text4{
	 background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 300px;
}
/*--//slider--*/
.single-bottom {
    padding: 2em;
    margin: 0 auto;
    background: #1bb4b9;
}
.single-middle {
  margin-top: 3em;
}
.single-bottom input[type="text"], .single-bottom textarea, .single-bottom input[type="email"] {
    width: 100%;
    padding: 12px;
    outline: none;
    border: none;
    background: rgba(255, 255, 255, 0.13);
    border-bottom: 2px solid rgba(74, 73, 71, 0.36);
    font-size: 15px;
    color: #ffffff;
    -webkit-appearance: none;
    letter-spacing: 1px;
}
.single-bottom input[type="submit"] {
    background: #fff;
    color: #060606;
    font-size: 13px;
    text-transform: uppercase;
    margin: 10px 0 0 16px;
    border: none;
    outline: none;
    letter-spacing: 1px;
    display: block;
    cursor: pointer;
    -webkit-appearance: none;
    padding: 10px 40px;
    font-family: 'Lato', sans-serif;
    transition: .5s ease-in;
    -webkit-transition: .5s ease-in;
    -moz-transition: .5s ease-in;
    -o-transition: .5s ease-in;
    -ms-transition: .5s ease-in;
}
.single-bottom  input[type="submit"]:hover{
	 background: #ffcd30;
    color: #fff;
}
 .single-bottom textarea {
	resize: none;
    min-height: 180px;
    margin: 15px;
    width: 96.3%;
 }
.media-body h4{
	font-size: 1.5em;
}
.media-left img, .media-right img, .media-body img {
    border: 5px solid #1bb4b9;
}
.media-body h4 a {
    color: #ffcd30;
    text-decoration: none;
    letter-spacing: 1px;
}
.media-body p {
      margin: 0.7em 0 0em;
    font-size: .95em;
    color: #555;
    line-height: 1.9em;
	    letter-spacing: 1px;
}
.media {
  margin: 0em 0 3em;
}
.single-bottom h3,.single-middle h3 {
    color: #000;
    font-size: 36px;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin-bottom: 0.8em;
    text-align: center;
}
.md-in{
	padding:0;
	margin-top:1em;
}
.in-media{
	padding:0 0 0 5em;
}
 ul.grid-part li{
	list-style:none;
}
ul.grid-part li a {
    color: #1bb4b9;
    font-size: 16px;
    letter-spacing: .4px;
    line-height: 33px;
}
ul.grid-part li a i {
    font-size: 13px;
    color: #000;
    margin-right: 12px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
ul.grid-part li a:hover {
	color:#000;
}
ul.grid-part li a:hover i.fa-long-arrow-right {
	margin-right:8px;
	transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
	color:#000;
}
ul.grid-part {
  margin: 8px 0 0;
}

.w3l-blog-list h4, .blog-list1 h4, .blog-list2 h4, .w3ls_recent_posts h3 {
    font-size: 1.6em;
    color: #1bb4b9;
    margin-bottom: 10px;
    letter-spacing: 1px;
}
.w3l-blog-list li, .blog-list1 li {
    list-style: none;
}
.w3l-blog-list li a {
    color: #777;
    font-size: 16px;
    letter-spacing: .4px;
    line-height: 33px;
}
.w3l-blog-list li a:hover {
	color:#000;
}
.blog-img {
    float: left;
    width: 40%;
}
.blog-text {
    float: right;
    width: 55%;
}
.blog-text p {
  font-size: 13px;
    line-height: 1.8em;

}
.blog-text span {
    font-size: 13px;
    color: #ffcd30;
    margin-top: 6px;
    display: block;
    letter-spacing: 1px;
}
.blog-list2 ul li a {
    text-decoration: none;
    color: #fff;
    background: #232323;
    font-size: 13px;
    padding: 10px;
    display: block;
    margin: 0 0 5px;
	 letter-spacing: 1px;
}
.blog-list2 ul li {
    display: inline-block;
}
.blog-list2 ul {
    padding: 0.5em 0 0;
}
.blog-list2 ul li a:hover {
       background: #ffcd30;
}
.w3l-blog-list, .blog-list1,.w3ls_recent_posts {
    margin: 0 0 40px;
}
.blog-text p a {
    text-decoration: none;
    color: #777;
    font-size: 16px;
    letter-spacing: .4px;
    line-height: 15px;
}
.blog-text p a:hover {
    color: #286090;
}
.blog-list-top {
    padding: 5px 0 15px;
}
.w3l-blog-list li i {
    font-size: 10px;
    margin-right: 12px;
	transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.w3l-blog-list li a:hover i.fa-long-arrow-right {
	margin-right:8px;
	transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.blog-left_w3_agileinfo {
    float: left;
    border-right: 1px solid #B6B3B3;
    padding-right: 15px;
}
.top-blog_wthree_agileits {
    float: left;
    margin: 15px 0px 0px 15px;
    width: 80%;
}
.blog-left_w3_agileinfo span {
    font-size: 1.5em;
        color: #0c0c0c;
    text-align: center;
    display: block;
    padding-top: 4px;
}
.top-blog_wthree_agileits p a {
    text-decoration: none;
    color: #ffcd30;
}
h5.w3ls_single_agileinfo {
    font-size: 1.9em;
    letter-spacing: 1px;
    color: #000000;
}
p.wthree_agileits {
    font-size:1em;
    line-height: 1.95em;
    color: #555;
    letter-spacing: 1px;
}
.top-blog_wthree_agileits p {
    font-size: 1em;
    letter-spacing: 1px;
    margin-top: 0.5em;
}
.blog-left_w3_agileinfo b {
    font-size: 40px;
    color: #1bb4b9;
    display: block;
    height: 50px;
}

/*-- //single-page  --*/
/*--//inner pages*/
/*-- typography --*/
h3.hdg {
    font-size: 2.5em;
    color: #22bcff !important;
}
.show-grid [class^=col-] {
    background: #fff;
  text-align: center;
  margin-bottom: 10px;
  line-height: 2em;
  border: 10px solid #f0f0f0;
}
.show-grid [class*="col-"]:hover {
  background: #e0e0e0;
}
.grid_3{
	margin-bottom:2em;
}
.xs h3, h3.m_1{
	color:#000;
	font-size:1.7em;
	font-weight:300;
	margin-bottom: 1em;
}
.grid_3 p{
  color: #555;
  font-size: 0.85em;
  margin-bottom: 1em;
  font-weight: 300;
}
.grid_4{
	background:none;
}
.label {
  font-weight: 300 !important;
  border-radius:4px;
}
.grid_5{
	background:none;
	padding:2em 0;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  border-top: none !important;
}
.tab-content > .active {
  display: block;
  visibility: visible;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  z-index: 0;
}
.badge-primary {
  background-color: #03a9f4;
}
.badge-success {
  background-color: #8bc34a;
}
.badge-warning {
  background-color: #ffc107;
}
.badge-danger {
  background-color: #e51c23;
}
.grid_3 p{
  line-height: 2em;
  color: #888;
  font-size: 0.9em;
  margin-bottom: 1em;
  font-weight: 300;
}
.bs-docs-example {
  margin: 1em 0;
}
section#tables  p {
 margin-top: 1em;
}
.tab-container .tab-content {
  border-radius: 0 2px 2px 2px;
  border: 1px solid #e0e0e0;
  padding: 16px;
  background-color: #ffffff;
}
.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding: 15px!important;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  font-size: 0.9em;
  color: #555;
  border-top: none !important;
}
.tab-content > .active {
  display: block;
  visibility: visible;
}
.label {
  font-weight: 300 !important;
}
.label {
  padding: 4px 6px;
  border: none;
  text-shadow: none;
}
.nav-tabs {
  margin-bottom: 1em;
}
.alert {
  font-size: 0.85em;
}
h1.t-button,h2.t-button,h3.t-button,h4.t-button,h5.t-button {
	line-height:1.8em;
  margin-top:0.5em;
  margin-bottom: 0.5em;
}
li.list-group-item1 {
  line-height: 2.5em;
}
.input-group {
  margin-bottom: 20px;
  }
.in-gp-tl{
	padding:0;
}
.in-gp-tb{
	padding-right:0;
}
.list-group {
  margin-bottom: 48px;
}
ol {
  margin-bottom: 44px;
}
h2.typoh2{
    margin: 0 0 10px;
}
@media (max-width:768px){
.grid_5 {
	padding: 0 0 1em;
}
.grid_3 {
	margin-bottom: 0em;
}
}
@media (max-width:640px){
	h1, .h1, h2, .h2, h3, .h3 {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
		margin-bottom: .5em;
	}
	.progress {
		height: 10px;
		margin-bottom: 10px;
	}
	ol.breadcrumb li,.grid_3 p,ul.list-group li,li.list-group-item1 {
		font-size: 14px;
	}
	.breadcrumb {
		margin-bottom: 10px;
	}
	.well {
		font-size: 14px;
		margin-bottom: 10px;
	}
	h2.typoh2 {
		font-size: 1.5em;
	}
	.grid_4 {
		margin-top: 30px;
	}
}
@media (max-width:480px){
	.table h1 {
		font-size: 26px;
	}
	.table h2 {
		font-size: 23px;
	}
	.table h3 {
		font-size: 20px;
	}
	.label {
		font-size: 53%;
	}
	.alert,p {
		font-size: 14px;
	}
	.pagination {
		margin: 20px 0 0px;
	}
}
@media (max-width: 320px){
	.grid_4 {
		margin-top: 18px;
	}
	.alert, p,ol.breadcrumb li, .grid_3 p,.well, ul.list-group li, li.list-group-item1,a.list-group-item {
		font-size: 13px;
	}
	.alert {
		padding: 10px;
		margin-bottom: 10px;
	}
	ul.pagination li a {
		font-size: 14px;
		padding: 5px 11px !important;
	}
	.list-group {
		margin-bottom: 10px;
	}
	.well {
		padding: 10px;
	}
	.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
		font-size: 0.81em;
	}
	.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
		padding: 12px!important;
	}
	.codes .row {
		margin: 0;
	}
}


.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
    margin-bottom: 1em;
    color: #212121;
    font-weight: bold;
}
/*-- //typography --*/
/*-- icons --*/
.page-header {
    color: #22bcff;
}
.icon-w3layouts-subheading{
    margin-top: 0!important;
}
.icon-box {
    padding: 8px 15px;
    background: rgba(149, 149, 149, 0.18);
    margin: 1em 0 1em 0;
    border: 5px solid #ffffff;
    text-align: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 13px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
    cursor: pointer;
}
.bs-glyphicons li {
    float: left;
    width: 18%;
    height: 115px;
    padding: 10px;
    line-height: 1.4;
    text-align: center;
    font-size: 12px;
    list-style-type: none;
    background: rgba(149, 149, 149, 0.18);
    margin: 1%;
}
.bs-glyphicons li .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
    color: #282a2b;
}
.icons a {
    color: #999;
}
.bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}
.icon-box i {
    margin-right: 10px !important;
    font-size: 20px !important;
    color: #282a2b !important;
}
.icon-box:hover {
    background: #000;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
}
.icon-box:hover a{
    color: #fff;
}
/*-- //icons --*/
/*-- contact --*/
.wthree_contact_left h6 {
    font-size: 21px;
    letter-spacing: 1px;
    margin-bottom: 1em;
    color: #22bcff;
}
.wthree_contact_left p span{
	font-weight:600;
	color:#212121;
}
.wthree_contact_left ul li{
	list-style-type:none;
	margin-bottom:1em;
	color:#999;
}
.wthree_contact_left ul li span{
	padding-right:1em;
	color:#000;
}
.wthree_contact_left ul li a{
	color:#999;
	text-decoration:none;
}
.wthree_contact_left ul li a:hover{
	color:#212121;
}
.wthree_contact_left input[type="text"], .wthree_contact_left input[type="email"], .wthree_contact_left textarea {
    outline: none;
    padding: 10px;
    font-size: 14.5px;
    color: #212121;
    width: 100%;
    letter-spacing: 1px;
    border: none;
    background: rgba(34, 188, 255, 0.04);
    border-left: 3px solid #22bcff;
    box-shadow: -7px 7px 10px rgba(0, 0, 0, 0.12);
}
.wthree_contact_left input[type="text"]:nth-child(2),.wthree_contact_left input[type="email"]{
	margin:1em 0 0;
}
.wthree_contact_left textarea{
	min-height: 172px;
    margin: 1em 1.1em;
    width: 95.9% !important;
	resize:none;
}
.wthree_contact_left input[type="submit"],.wthree_contact_left input[type="reset"]{
	outline: none;
    padding: 12px 0;
    font-size: 16px;
    color: #fff;
    background: #ffcd30;
    width: 46.6%;
    border: none;
    text-transform: uppercase;
    margin-left: 1.1em;
	box-shadow: -7px 7px 10px rgba(0, 0, 0, 0.12);
}
.wthree_contact_left input[type="submit"]:hover,.wthree_contact_left input[type="reset"]:hover{
	background:#22bcff;
}
.info-img-agileits {
    margin: 1.5em 0;
}
.info1{
	background: url(../images/g1.jpg) no-repeat 0px 0px;
}
.info2{
	background: url(../images/g8.jpg) no-repeat 0px 0px;
	margin:0 3%;
}
.info3{
	background: url(../images/g3.jpg) no-repeat 0px 0px;
}
.info1, .info2, .info3 {
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    min-height: 100px;
    width: 31%;
    float: left;
}
/*-- //contact --*/
/*-- map --*/
.map-agileits iframe {
    width: 100%;
    height: 350px;
    border: none;
    outline: none;
}
/*-- //map --*/
/*-- footer --*/
.footer {
  padding: 4em 0;
     background-color: #171717;
}
.footer h4 {
    margin:0 0 .5em;
}
.footer h3 {
    color: #fff;
    font-size: 1.4em;
    margin: 0.4em 0 .5em;
    text-transform: capitalize;
}
ul.b-nav li {
    display: inline-block;
    margin-left: 2em;
}
.footer-grids ul li a:hover {
  color: #fff;
}
.footer-grids p  a{
	color: #bdbdbd;
    font-size: 15px;
    text-decoration: none;
}
.footer-grids p a:hover {
    color: #ffcd30;
}
.footer-grids p {
    color: #bdbdbd;
    font-size: 15px;
    line-height: 2em;
    margin: 0;
    letter-spacing: .5px;
}
.footer-grids .top-header-agile-right {
    text-align: left;
}
.footer-grids .top-header-agile-right ul li a {
    text-align: center;
}
.services-info form {
  margin-top: 1.54em;
}
.services-info form input[type="email"] {
    width: 76%;
    padding: 8.5px 12px;
    font-size: 0.9em;
    float: left;
    color: #ffffff;
    outline: none;
    border: none;
    background: none;
    border-bottom: 1px solid #fff;
    -webkit-appearance: none;
}
.services-info form input[type="submit"] {
	width: 24%;
    font-size: 14px;
    float: left;
    color: #fff;
    outline: none;
    padding: 9px 9px;
    border: none;
    background:#22bcff;
    transition: .5s ease-in;
    -webkit-transition: .5s ease-in;
    -moz-transition: .5s ease-in;
    -o-transition: .5s ease-in;
    -ms-transition: .5s ease-in;
    -webkit-appearance: none;
}
.services-info form input[type="submit"]:hover{
	    background: #ffcd30;
}
.footer-grids h6 a {
    color: #fff;
    text-decoration: none;
}
.footer-grids h6 a {
    font-family: 'Cabin Sketch', cursive;
    font-size: 5em;
    letter-spacing: 4px;
    font-weight: 700;
    float: left;
	display:block;
    position: relative;
}
.footer-grids h6 a span.f-letter {
    color: #22bcff;
}
.footer-grids h6 span.f-square {
    position: absolute;
    width: 1em;
    height: 1em;
    border: 8px solid rgba(255, 255, 255, 0.16);
    left: -12px;
    top: 1px;
    transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    cursor: pointer;
}
/*-- //footer --*/
/*--login-register--*/
.bottons-agileits-w3layouts {
    margin-top:2em;
}
a.btn1-w3-agileits {
	color: #fff;
    padding: 5px 15px;
    font-size: 14px;
    letter-spacing: .5px;
    text-transform: capitalize;
    text-decoration: none;
    display: inline-block;
	transition:.5s ease-in;
	-webkit-transition:.5s ease-in;
	-moz-transition:.5s ease-in;
	-o-transition:.5s ease-in;
	-ms-transition:.5s ease-in;
	background:#ffcd30;
}
a.btn2-w3-agileits {
	color: #fff;
    padding: 5px 15px;
    font-size: 14px;
    letter-spacing: .5px;
    text-transform: capitalize;
    text-decoration: none;
    display: inline-block;
	transition:.5s ease-in;
	-webkit-transition:.5s ease-in;
	-moz-transition:.5s ease-in;
	-o-transition:.5s ease-in;
	-ms-transition:.5s ease-in;
	background:#22bcff;
}
a.btn2-w3-agileits:hover,a.btn1-w3-agileits:hover {
	display:inline-block;
	text-decoration: none;
    background: #fff;
    color: #000;
    transition:.5s ease-in;
	-webkit-transition:.5s ease-in;
	-moz-transition:.5s ease-in;
	-o-transition:.5s ease-in;
	-ms-transition:.5s ease-in;
}
a.btn1-w3-agileits:focus,a.btn2-w3-agileits:focus  {
	outline:none;
}
a.btn1-w3-agileits i ,a.btn2-w3-agileits i {
    padding-right: 5px;
}
.login-top.sign-top {
    background: rgba(255, 255, 255, 0);
}
.agileits-login {
    padding: 0 2em;
}
.agileits-login input[type="text"], .agileits-login input[type="password"], .agileits-login input[type="email"], .agileits-login textarea {
    outline: none;
    font-size: 14.5px;
    color: #000;
    padding: 10px 20px;
    letter-spacing: 1px;
    margin: 0;
    width: 100%;
    border: none;
    -webkit-appearance: none;
    margin-bottom: 1em;
    background: rgba(34, 188, 255, 0.04);
    border-left: 3px solid #22bcff;
    box-shadow: -7px 7px 10px rgba(0, 0, 0, 0.12);
}
.agileits-login textarea {
	resize:none;
	height:80px;
	margin-bottom:0!important;
}
.login-top h5 {
    color: #212121;
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    letter-spacing: 1px;
    text-transform: capitalize;
}
/*-- checkbox --*/
.agileits-login label {
    font-size: 1em;
    color: #000;
	letter-spacing: 0.5px;
    font-weight: 400;
    cursor: pointer;
    position: relative;
}
input.checkbox {
    background: #ffcd30;
    cursor: pointer;
    width: 1.2em;
    height: 1.2em;
    display: inline-block;
	margin: 0 5px 0 0;
	vertical-align: text-bottom;
}
input.checkbox:before {
	content: "";
	position: absolute;
	width: 1.2em;
	height: 1.2em;
	background: inherit;
	cursor: pointer;
}
input.checkbox:after {
	content: "";
	position: absolute;
	top: 0px;
	left: 0;
	z-index: 1;
	width: 1.2em;
	height: 1.2em;
	border: 1px solid #fff;
	-webkit-transition: .4s ease-in-out;
	-moz-transition: .4s ease-in-out;
	transition: .4s ease-in-out;
}
input.checkbox:checked:after {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	height: 1.2em;
	border-color: #fff;
	border-top-color: transparent;
	border-right-color: transparent;
}
.anim input.checkbox:checked:after {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	height: .6em;
	border-color: transparent;
	border-right-color: transparent;
	animation: .4s rippling .4s ease;
	animation-fill-mode: forwards;
}
@keyframes rippling {
	50% {
		border-left-color: #fff;
	}
	100% {
		border-bottom-color: #fff;
		border-left-color: #fff;
	}
}
/*-- //checkbox --*/
.wthree-text {
    margin-top: 0.5em;
}
.wthree-text ul li {
    display: inline-block;
    float: left;
}
.wthree-text ul li:nth-child(2) {
    float: right;
}
.wthree-text ul li a {
    font-size: 1em;
    color: #fff;
	letter-spacing: 0.5px;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.wthree-text ul li a:hover {
    text-decoration: underline;
}
.w3ls-submit {
    text-align: center;
    margin: 1.5em 0px;
}
.agileits-login input[type="submit"] {
    font-size: 1em;
    color: #fff;
    border:none;
    outline: none;
    padding: .8em 5em;
    -webkit-appearance: none;
	text-transform: uppercase;
    transition: .5s all;
    background: #22bcff;
    display: inline-block;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.agileits-login input[type="submit"]:hover {
    background:#ffcd30;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.modal-header {
    border-bottom: none;
}
/*--//login-register--*/
/*-- Copyright --*/
.copyright-wthree {
    background: #171717;
    padding: 25px 0px;
    border-top: 1px solid #2d2d2d;
}
.copyright-wthree p {
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
    word-spacing: 1px;
    text-align: left;
    float: left;
}
ul.b-nav {
    float: right;
}
ul.b-nav li a {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
}
ul.b-nav li a:hover {
	color:#22bcff;
}
.copyright-wthree p a {
	color: #22bcff;
	text-decoration: none;
}
.copyright-wthree p a:hover {
    color: #ffffff;
}
/*-- //Copyright --*/
/*-- //Footer --*/
/*-- to-top --*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 24px;
	right: 1%;
	overflow: hidden;
	z-index: 999;
    width: 64px;
    height: 64px;
	border: none;
	text-indent: 100%;
	background: url("../images/arr.png") no-repeat 0px 0px;
	background-size: 30px;
}
#toTopHover {
    width: 64px;
    height: 64px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*-- //to-top --*/
/*--responsive--*/
@media(max-width:1680px){
	.agile-baner-info-w3ls {
		padding: 11em 17em 0 0;
	}
	.gallery-gridsa {
		min-height: 429px;
	}
	.gallery-gridsa1 {
		min-height: 455px;
	}
}
@media(max-width:1600px){
	.agile-baner-info-w3ls {
		padding: 11em 14em 0 0;
	}
	.gallery-gridsa {
		min-height: 479px;
	}
	.gallery-gridsa1 {
		min-height: 455px;
	}
}
@media(max-width:1440px){
	.service-grid1, .service-grid2 {
		margin-top: 3.5em;
	}
	.agile-baner-info-w3ls h3 {
		width: 75%;
	}
	.agile-baner-info-w3ls {
		padding: 10em 9em 0 0;
	}
	h3.sub-tittle-agileits, .right-w3ls-gridsa h3 {
		font-size: 2.3em;
	}
	.services-info {
		padding: 7.5em 3em 7.5em 8em;
	}
	.machine-img img {
		width: 168px;
	}
	.register-wthree, .test,.agile_menu, .about-top-w3layouts, .welcome, .stats-agileits, .contact, .services, .team-w3layouts {
		padding: 4em 0em;
	}
	.wthree_text {
		padding: 5em 0 0 4em;
	}
	.gallery-gridsa2 {
		min-height: 437px;
	}
}
@media(max-width:1366px){
	.w3-header-bottom h1 {
		font-size: 4.3em;
	}
	.w3-header-bottom h1 span.square {
		left: -19px;
	}
	.agile-baner-info-w3ls {
		padding: 9em 7em 0 0;
	}
	.about-w3layouts {
		width: 90%;
	}
	.services-info {
		padding: 7.5em 3em 7.5em 3em;
		width: 46%;
	}
	.services-info h6 span {
		font-size: 1.3em;
	}
	h4.tittles-w3agileits {
		font-size: 2.8em;
	}
	.machine-img img {
		width: 145px;
	}
	h4.tittles-w3agileits {
		margin-bottom: 0.8em;
	}
}
@media(max-width:1280px){
	.agile-baner-info-w3ls h3 {
		font-size: 2.8em;
	}
	.agile-baner-info-w3ls {
		padding: 8em 4em 0 0;
	}
	.about-mid-w3-agileits {
		width: 90%;
	}
	.right-w3ls-gridsa {
		width: 55%;
	}
	.gallery-gridsa {
		width: 45%;
	}
	.services-info {
		width: 50.5%;
	}
	.services-left {
		width: 49.5%;
	}
}
@media(max-width:1080px){
	p.para-w3-agile {
		font-size: 15px;
		line-height: 30px;
	}
	.top-nav ul li {
		margin: 0 2em;
	}
	.agileinfo-phone h2 {
		font-size: 2em;
		letter-spacing: 2px;
	}
	.header-w3-top {
		width: 59%;
	}
	h3.sub-tittle-agileits, .right-w3ls-gridsa h3 {
		font-size: 2.2em;
	}
	.gallery-gridsa2 {
		min-height: 472px;
	}
	.gallery-gridsa1 {
		min-height: 492px;
	}
	.test-grid1 p i {
		font-size: 3em;
	}
	.test-grid1 {
		padding: 2em 2em 0;
	}
	.owl-pagination {
		bottom: -28px;
	}
	.test-left-agileinfo {
		padding: 7.2em 0;
	}
	.numscroller {
		font-size: 40px;
	}
	.stats-grid h4 {
		font-size: 22px;
	}
	.stats-grid:nth-child(1), .stats-grid:nth-child(3) {
		margin-right: 0.6em;
	}
	.stats-grid:nth-child(1), .stats-grid:nth-child(2) {
		margin-bottom: 0.6em;
	}
	.stats-left-w3layouts {
		width: 100%;
	}
	.stats-info.agileits.w3layouts {
		float: right;
		margin-top:2em;
	}
	.machine-img img {
		width: 265px;
	}
	.footer-grids h6 a {
		font-size: 4.5em;
	}
	.services-info h6 span {
		font-size: 1em;
	}
	.services-info {
		padding: 7.5em 3em 8em 3em;
	}
	.wthree_text h3 {
		font-size: 2.5em;
	}
	.wthree_text {
		padding: 3.6em 0 0 2.5em;
	}
	.wthree_text p:after {
		top: 135%;
		left: 50%;
	}
	.wthree_contact_left {
		padding-right: 0;
	}
	.wthree_contact_left input[type="text"], .wthree_contact_left input[type="email"], .wthree_contact_left textarea {
		width: 102%;
	}
}
@media(max-width:1050px){
	.agile-baner-info-w3ls h3 {
		width: 82%;
	}
	a.button-w3layouts {
		padding: 8px 20px;
	}
	.map-agileits iframe {
		height: 270px;
	}
	.modal-content h4 {
		font-size: 3em;
	}
	.gallery-gridsa2 {
		min-height: 498px;
	}
	.gallery-gridsa1 {
		min-height: 488px;
	}
	.services-info h6 {
		font-size: 1.9em;
	}
}
@media(max-width:1024px){
	.agileinfo-phone h2 {
		font-size: 2em;
		letter-spacing: 2px;
	}
	.agileinfo-phone p {
		font-size: 17px;
		line-height: 21px;
	}
	.phone-wthree-left i {
		font-size: 2.3em;
	}
	.phone-wthree-left {
		padding: 6px 5px;
		margin-right: 8px;
	}
	.header-w3-top {
		width: 55%;
	}
	.top-nav ul li {
		margin: 0 2em;
	}
	.agile-baner-info-w3ls h3 {
		font-size: 2.6em;
		letter-spacing: 3px;
		width: 85%;
	}
	.agile-baner-info-w3ls {
		padding: 8em 2em 0 0;
	}
	.gallery-grids2 {
		padding: 2em;
	}
	h3.sub-tittle-agileits, .right-w3ls-gridsa h3 {
		font-size: 2.2em;
		line-height: 43px;
	}
	.grids-left-wthree span {
		font-size: 1.4em;
		letter-spacing: 3px;
	}
	.grids-right-wthree i {
		font-size: 2.5em;
	}
	.gallery-gridsa {
		min-height: 433px;
	}
	.gallery-gridsa2 {
		min-height: 370px;
	}
	.gallery-gridsa1 {
		min-height: 447px;
	}
	.services-info {
		padding: 7.37em 1.7em 7.5em 1.7em;
	}
	.test-grid1 {
		padding: 1em 1em 0;
	}
	.owl-pagination {
		bottom: -17px;
		right: 35%;
	}
}
@media(max-width:991px){
	.register-wthree,.footer, .test,.agile_menu, .about-top-w3layouts, .welcome, .stats-agileits, .contact, .services, .team-w3layouts {
		padding: 3.5em 0em;
	}
	.phone-wthree-left {
		width: 53%;
	}
	.agileinfo-phone h2 {
		font-size: 1.6em;
		letter-spacing: 1px;
	}
	.header-w3-top {
		margin-top: 1em;
	}
	.top-nav ul li {
		margin: 0 0.8em;
	}
	.agile-baner-info-w3ls {
		padding: 6.3em 7.5em 0 0;
	}
	.about-w3layouts {
		width: 100%;
		float: none;
	}
	.gallery-gridsa {
		width: 100%;
		float: none;
	}
	.gallery-grids2 {
		padding: 3em;
	}
	.right-w3ls-gridsa {
		width: 100%;
	}
	.about-mid-w3-agileits {
		width: 100%;
		float: none;
	}
	.gallery-gridsa2 {
		min-height: 402px;
	}
	.gallery-gridsa1 {
		min-height: 419px;
	}
	.services-info,.services-left {
		width: 100%;
	}
	.services-info {
		padding: 3em 10em;
	}
	.test-left-agileinfo {
		padding: 0;
		border: none;
		display: inline-block;
	}
	.test-grid1 {
		padding: 0em 2em 2em 2em;
		width: 76%;
		float: left;
		border-left: 2px solid #eee;
	}
	.test-grid2 img.img-r {
		width: 22%;
		float: left;
	}
	.test-grid h4 {
		font-size: 1.2em;
	}
	.test-info-w3ls {
		padding: 0.5em 0.8em;
		margin-top: 0.3em;
	}
	.test-grid1 p i {
		font-size: 2em;
	}
	.owl-pagination {
		bottom: 8px;
		right: 28%;
	}
	.test-grid span {
		font-size: 0.9em;
	}
	.footer-grids.w3l-agileits {
		width: 100%;
		float: none;
		margin-bottom: 2em;
	}
	.footer-grids.w3l-agileits:nth-child(4) {
		margin-bottom: 0em!important;
	}
	.services-w3-agileits {
		border-top: none;
	}
	.footer-grids h6 a {
		float: none;
	}
	.copyright-wthree p {
		float: none;
		text-align: center;
	}
	ul.b-nav {
		float: none;
		text-align: center;
		margin-bottom: 1em;
	}
	ul.b-nav li {
		margin: 0 1.2em;
	}
	.bottons-agileits-w3layouts {
		margin-top: 1em;
	}
	.footer-grids p {
		font-size: 14px;
		line-height: 28px;
		letter-spacing:1px;
	}
	.tab-image,.tab-info {
		width: 100%;
	}
	.tab-image:nth-child(2),.tab-image:nth-child(4) {
		margin-top:1.5em;
	}
	.tab-image:nth-child(1),.tab-image:nth-child(3) {
		margin-bottom:1.5em;
	}
	.stats-info.agileits.w3layouts {
		width: 80%;
	}
	.stats-grid {
		float: left;
	}
	.team-grids-w3ls {
		width: 50%;
		float: left;
	}
	.team-agileits-topl h5 {
		font-size: 1.25em;
		letter-spacing: 0.5px;
	}
	.team-agileits-topl p {
		font-size: 14px;
    }
	.agile_services_grid_pos {
		bottom: -13%;
		left: 4%;
	}
	.w3layouts_gallery_grid {
		float: left;
		width: 33.33%;
		padding: 0 .5em;
	}
	.w3layouts_gallery_grid {
		margin-top: 1em;
	}
	.wthree_text h3 {
		font-size: 2em;
	}
	.wthree_text p {
		padding-left: 1.5em;
	}
	.wthree_text p:after {
		top: 130%;
		left: 45%;
		width: 5em;
	}
	.wthree_text {
		padding: 2.7em 0 0 2em;
	}
	.wthree_contact_left input[type="text"], .wthree_contact_left input[type="email"], .wthree_contact_left textarea {
		width: 100%;
		margin-top: 1em;
	}
	.wthree_contact_left_grid .wthree_contact_left input[type="text"]{
		margin-top:0em
	}
	.wthree_contact_left_grid {
		padding: 0;
	}
	.wthree_contact_left textarea {
		min-height: 100px;
		margin: 1em 0 1.5em;
		width: 100% !important;
	}
	.wthree_contact_left input[type="submit"], .wthree_contact_left input[type="reset"] {
		width: 49%;
		margin-left: 0em;
	}
	.wthree_contact_left input[type="reset"] {
		float:right;
	}
	.wthree_contact_left h6 {
		margin-bottom: 0.9em;
	}
	.wthree_contact_left ul li {
		margin-bottom: 0em;
	}
	.wthree_contact_left ul li:nth-child(1) {
		margin-bottom: 0.5em;
	}
	.info-img-agileits {
		margin: 1em 0 2em;
	}
	.wthree_contact_left ul {
		margin-bottom: 2em;
	}
	.service-grids-w3ls h5 {
		font-size: 19px;
	}
	.services-info h6 {
		line-height: 45px;
	}
}
@media(max-width:900px){
	.navbar-default .navbar-nav > li > a {
		font-size: 15px;
	}
	.agile-baner-info-w3ls h3 {
		font-size: 2.5em;
	}
	.agile-baner-info-w3ls {
		padding: 6.3em 5em 0 0;
	}
	.gallery-gridsa1 {
		min-height: 479px;
	}
	.services-info {
		padding: 3em 7em;
	}
	.machine-img img {
		width: 245px;
	}
}
@media(max-width:800px){
	.register-wthree,.footer, .test,.agile_menu, .about-top-w3layouts, .welcome, .stats-agileits, .contact, .services, .team-w3layouts {
		padding: 3em 0em;
	}
	.test-grid2 img.img-r {
		width: 20%;
		float: left;
	}
	.test-grid h4 {
		font-size: 1.1em;
	}
	.test-grid span {
		font-size: 0.8em;
		letter-spacing: 0.7px;
	}
	.owl-pagination {
		bottom: 1px;
	}
	.w3-header-bottom h1 {
		font-size: 4em;
		margin-left: 0.25em;
	}
	.w3-header-bottom {
		padding: 2em 0em 1.2em;
	}
	.agile-baner-info-w3ls h3 {
		font-size: 2.3em;
		letter-spacing: 2px;
	}
	.agile-baner-info-w3ls {
		padding: 5em 2em 0 0;
	}
	.gallery-grids2 {
		width: 100%;
	}
	.gallery-gridsa1,.gallery-gridsa2,.gallery-gridsa {
		min-height: 340px;
		width: 100%;
	}
	.grids-left-wthree span {
		font-size: 1.25em;
		letter-spacing: 2px;
	}
	.grids-right-wthree i {
		font-size: 2.4em;
		line-height: 55px;
	}
	.footer-grids.w3l-agileits {
		margin-bottom: 1.5em;
	}
	h4.tittles-w3agileits {
		font-size: 2.5em;
	}
	.machine-img img {
		width: 187px;
	}
	.service-grids-w3ls i {
		font-size: 2.3em;
	}
}
@media(max-width:768px){
	.w3-header-bottom h1 {
		margin-left: 0.5em;
	}
	.services-info {
		padding: 3em 3em;
	}
}
@media(max-width:767px){
	.navbar-default .navbar-toggle {
		border-color: #22bcff;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #fff;
	}
	.navbar-toggle {
		margin: 1em 0.3em 0 0;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		background-color: transparent;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border: none;
		position: absolute;
		width: 100%;
		background: rgba(0, 0, 0, 0.92);
		z-index: 999;
	}
	.navbar-right {
		margin-left: 0;
	}
	.navbar-nav > li > a {
		padding: 20px 0 0;
		text-align: center;
		font-size: 13px;
	}
	.navbar-nav {
		margin: 0 0 20px;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #fff;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #ffcd30;
	}
	.navbar-nav .open .dropdown-menu {
		text-align: center;
	}
	.top-nav ul li {
		margin: 0.5em 0;
		width: 100%;
	}
	.w3-header-bottom h1 {
		margin-bottom: 0.18em;
	}
	.top-nav ul {
		padding: 1em 0;
	}
	.agile-baner-info-w3ls {
		padding: 4.5em 1em 0 0;
	}
	.w3-header-bottom h1 {
		float: none;
	}
	.navbar-nav .open .dropdown-menu {
		padding-bottom: 0!important;
	}
	.header-w3-top {
		margin-top: 0.5em;
		width: 80%;
		float: left;
	}
	.navbar-default .navbar-toggle {
		position: absolute;
		right: 0;
		bottom: 0;
	}
}
@media(max-width:736px){
	h4.tittles-w3agileits {
		font-size: 2em;
	}
}
@media(max-width:667px){
	.agile-baner-info-w3ls h3 {
		font-size: 2em;
		letter-spacing: 3px;
		width: 100%;
		line-height: 1.4em;
	}
	h3.sub-tittle-agileits, .right-w3ls-gridsa h3 {
		font-size:2em;
	}
	.owl-pagination {
		bottom: -5px;
	}
	.w3layouts_gallery_grid {
		float: left;
		width: 50%;
		padding: 0.5em .5em;
	}
	.w3layouts_gallery_grid {
		margin-top: 0;
	}
	.wthree_text {
		padding: 3.7em 0 0 2em;
	}
	.stats-grid:nth-child(1), .stats-grid:nth-child(3) {
		margin-right: 0;
	}
	.stats-grid:nth-child(1), .stats-grid:nth-child(2) {
		margin-bottom: 0;
	}
	.stats-grid {
		text-align: left;
		border: 10px solid rgba(255, 255, 255, 0.12);
		padding: 1em;
		width: 100%;
		 margin-top:1em;
	}
	.stats-grid h4 {
		font-size: 20px;
	}
	.team-agileits-topl h5 {
		font-size: 1em;
		letter-spacing: 0.5px;
	}
	.team-grids-w3ls:nth-child(3),.team-grids-w3ls:nth-child(2) {
		margin-bottom: 0;
	}
	.team-grids-w3ls {
		width: 100%;
		float: none;
		margin-top: 1em;
	}
	h4.tittles-w3agileits {
		font-size: 1.8em;
	}
}
@media(max-width:640px){
	.gallery-gridsa1, .gallery-gridsa2, .gallery-gridsa {
		min-height: 301px;
		width: 100%;
	}
	.gallery-grids2 {
		padding: 2.5em 2em;
	}
	.wthree_contact_left {
		padding-right: 0;
		padding: 0;
	}
}
@media(max-width:600px){
	h3.sub-tittle-agileits, .right-w3ls-gridsa h3 {
		font-size: 1.8em;
	}
	.numscroller {
		font-size: 29px;
	}
	.tab-info h4 {
      font-size: 1.2em;
	}
}
@media(max-width:568px){
	.wthree_text {
		padding: 2.8em 0 0 2em;
	}
	.machine-img img {
		width: 122px;
	}
	.machine-img {
		position: absolute;
		left: 0%;
		bottom: 5%;
	}
	.services-info {
		padding: 2.5em 1em;
	}
	.footer-grids.w3l-agileits {
		margin-bottom: 1.5em;
		padding: 0;
	}
}
@media(max-width:480px){
	.agileinfo-phone p {
		font-size: 13px;
		line-height: 19px;
	}
	.agileinfo-phone h2 {
		font-size: 1.3em;
		letter-spacing: 1px;
	}
	.w3-header-bottom h1 {
      font-size: 3.5em;
	}
	.gallery-gridsa1, .gallery-gridsa2, .gallery-gridsa {
		min-height: 230px;
		width: 100%;
	}
	.agile-baner-info-w3ls {
		padding:3em 1em 0 0;
	}
	.agile-baner-info-w3ls h3 {
		font-size: 1.8em;
		letter-spacing: 1px;
		width: 100%;
		line-height: 1.4em;
	}
	.services-info h6 {
		font-size: 1.6em;
	}
	.service-grids-w3ls:nth-child(4), .service-grids-w3ls:nth-child(2), .service-grids-w3ls:nth-child(3) {
		margin-bottom: 1.5em;
	}
	.test-grid1 {
		padding: 0em 2em 2em 2em;
		width: 100%;
		float: left;
		border-left: 2px solid #eee;
	}
	.owl-pagination {
		bottom: 8px;
		right: 40%;
	}
	h3.sub-tittle-agileits, .right-w3ls-gridsa h3 {
		font-size: 1.6em;
	}
	.wthree_text {
		padding: 2.5em 0 0 2em;
	}
}
@media(max-width:440px){
	.header-w3-top {
		margin-top: 0;
		width: 100%;
		float: left;
	}
	.agileinfo-phone h2 {
		font-size: 1.2em;
		letter-spacing: 1px;
		margin: 0;
		margin-bottom: 2.5em;
	}
	.agile-baner-info-w3ls h3 {
		font-size: 1.6em;
		letter-spacing: 1px;
		width: 100%;
		line-height: 1.4em;
	}
	.gallery-gridsa1, .gallery-gridsa2, .gallery-gridsa {
		min-height: 200px;
		width: 100%;
	}
	.w3layouts_gallery_grid {
		float: left;
		width: 100%;
		padding: 0.5em .5em;
	}
	.wthree_text {
		padding: 5.5em 0 0 2em;
	}
	.footer-grids h6 a {
		font-size: 3.8em;
	}
	h3.sub-tittle-agileits, .right-w3ls-gridsa h3 {
		font-size: 1.6em;
		line-height: 34px;
	}
	.services-left {
		padding:2.5em 1em;
	}
	.copyright-wthree p {
		float: none;
		text-align: center;
		line-height: 1.9em;
	}
}
@media(max-width:414px){
	.machine-img img {
		width: 100px;
	}
	ul.b-nav li {
		margin: 0px 0.5em;
	}
	.bs-glyphicons li {
		float: left;
		width: 48%;
	}
}
@media(max-width:384px){
	.agile-baner-info-w3ls h3 {
		font-size: 1.4em;
		letter-spacing: 1px;
		width: 100%;
		line-height: 1.4em;
	}
	.owl-pagination {
		bottom: 8px;
		right: 34%;
	}
	.wthree_text {
		padding: 4.5em 0 0 2em;
	}
	.register-wthree, .footer, .test, .agile_menu, .about-top-w3layouts, .welcome, .stats-agileits, .contact, .services, .team-w3layouts {
		padding: 2.5em 0em;
	}
}
@media(max-width:375px){
	.phone-wthree-left i {
		font-size: 1.3em;
	}
	.w3-header-bottom h1 {
		font-size: 3em;
	}
	.w3-header-bottom h1 span.square {
		left: -12px;
	}
	.services-info h6 {
		font-size: 1.4em;
		line-height: 38px;
	}
}
@media(max-width:320px){
	.phone-wthree-left {
		width: 57%;
	}
	.agileinfo-phone h2 {
		font-size: 0.9em;
		letter-spacing: 1px;
		margin: 0;
		margin-bottom: 3em;
	}
	.agile-baner-info-w3ls {
		padding: 2.3em 1em 0 0;
	}
	.agileinfo-phone p {
		font-size: 12px;
		line-height: 19px;
	}
	h3.sub-tittle-agileits, .right-w3ls-gridsa h3 {
		font-size: 1.4em;
		line-height: 34px;
	}
	.wthree_text {
		padding: 3.5em 0 0 2em;
	}
	.owl-pagination {
		bottom: -7px;
	}
	.owl-theme .owl-controls .owl-page span {
		width: 10px;
		height: 10px;
		margin: 5px 6px;
	}
	.team-agileits-topl {
		float: left;
		margin-bottom: 1em;
	}
	.team-grids-w3ls .agileinfo-social-grids {
		float: left;
	}
}
/*--responsive--*/


.textcenter {
  text-align: center;
}
 .profile-text-tecnico{
   text-align: center;
   font-size: 10px;
   font-style: italic;
 }
.tecnico-inf-txt{
  text-align: center;
  font-style: normal;
  font-weight: bold;
}
.header {
  background: rgba(33, 33, 33, 0.4);
   padding: 0em 0em 0em;
  /*border-bottom: 2px solid #ffcd30;*/
}
.header .img{
  text-align: center !important;
  margin: 0.4em;
  padding-top: 2em;
  width: 20%;
}
.col-md-10 {
  width: 83.33333333% !important;
}
.top-nav {
    float: right !important;
}
.nav-top{
  float: none;
  text-align: center;
  /*width: 100%;*/
}
.centrado {
    position: relative !important;
    left: 50%;
}
.no-float{
	float: none;
}
.inline-block {
	float:none;
	display: inline-block;
	margin-right: 3em;
}
.inline-center{
  float:none;
  display: block;
  margin-right: 2em;
}
.img-center{
  display: block;
  margin-left: auto;
	margin-right: auto;
}
.img-profile{
  width: 130px;
}
.up {
	vertical-align: top;
}
.block{
  display: inline;
  margin-left: 50%;
  margin-right: 50%;
}
.card{
  border-radius: 5px !important;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.14), 0 2px 5px rgba(0, 0, 0, 0.25);
  margin-left: 2.25em;
  margin-right: 0em;
	margin-top: 0.15em;
}
.inside-card{
	-webkit-padding-after: 30px;
	-webkit-padding-before: 30px;
	padding-block-end: 30px;
	padding-block-start: 30px;
}
.re05 {
	-webkit-animation-delay:0.5s;
	-moz-animation-delay:0.5s;
	animation-delay: 0.5s;
}
.re1 {
	-webkit-animation-delay:1s;
	-moz-animation-delay:1s;
	animation-delay: 1s;
}
.re15 {
	-webkit-animation-delay: 1.5s;
	-moz-animation-delay: 1.5s;
	animation-delay:  1.5s;
}
.re2 {
	-webkit-animation-delay: 2s;
	-moz-animation-delay: 2s;
	animation-delay:  2s;
}
.re25 {
	-webkit-animation-delay:2.5s;
	-moz-animation-delay:2.5s;
	animation-delay: 2.5s;
}
.re3 {
	-webkit-animation-delay: 3s;
	-moz-animation-delay: 3s;
	animation-delay:  3s;
}
.re35 {
	-webkit-animation-delay: 3.5s;
	-moz-animation-delay: 3.5s;
	animation-delay:  3.5s;
}
.re4 {
	-webkit-animation-delay: 4s;
	-moz-animation-delay: 4s;
	animation-delay:  4s;
}
.re45 {
	-webkit-animation-delay: 4.5s;
	-moz-animation-delay: 4.5s;
	animation-delay:  4.5s;
}
.re5 {
	-webkit-animation-delay: 5s;
	-moz-animation-delay: 5s;
	animation-delay:  5s;
}

.no-float{
	float: none;
}
.espacio-d {
	margin-right: 5em;
}
.casos .dashboard-stat .visual {
    width: 50px;
    height: 50px;
}

.casos .dashboard-stat .details .number {
    padding-top: 5px;
}
body {
    background-color: #000;
    padding: 0 auto !important;
}

h2,
h3,
h4,
h1,
h5 {
    margin: 0.5em auto;
    text-align: center;
}

.contendor {
    margin: 0 auto;
    max-width: auto;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    padding-right: 0px
}

.contendor-body {
    width: auto;
}

.img {
    margin-top: 2em !important;
}

/*NOTICIAS*/

.unoticias {
    background-image: url('../img/fondo-3.jpg');
    color: rgb(255, 255, 255);
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    padding-top: em;
    border-top: 2px solid #ffcd30;
    border-bottom: 2px solid #ffcd30;
    overflow: hidden;
}

#unoticias .fecha-dia {
    text-align: center;
    font-size: 50px;
    text-shadow: 3px 3px #565656;
}
#unoticias .fecha-mes {
    text-align: center;
    font-size: 23px;
    text-shadow: 3px 3px #565656;
}
#unoticias .fecha-ano {
    text-align: center;
    font-size: 30px;
    text-shadow: 3px 3px #565656;
}
#unoticias .noti-top{
    border-bottom: 1px solid rgb(183, 194, 25);
    height: 55px;
    width: 70px;
    margin-left: auto;
    margin-right: auto;
}
#unoticias .card {
    border-radius: 5px !important;
    background-color: rgba(2, 27, 8, 0.13);
    box-shadow: 0 2px 4px rgba(112, 112, 112, 0.49), 0 7px 14px rgba(0, 0, 0, 0.50);
    margin-top: 0.05em;
    margin-bottom: 1em;
}

#unoticias h2 {
    margin: 0 auto !important;
}
#unoticias img {
    width: 120%;
    margin-left: -35px;
    margin-top: 20px;
    filter: none;
    /* IE6-9 */
    -webkit-filter: none(1);
    /* Google Chrome, Safari 6+ & Opera 15+ */
    -webkit-box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.75);
    margin-bottom: 20px;
}

#unoticias .contenido {
    text-align: justify;
    margin-bottom: 15px;
}

#unoticias .titulo {
    padding-top: 1em;
    text-align: center;
}

#unoticias .articulo-noticias {
    width: 750px;
}

#unoticias a{
    text-align: center;
}

.unoticias h3 {
    text-align: center;
}

.noticias {
    margin-top: 25px;
    margin-bottom: 25px;
}
#unoticias .row .noticias {
    margin-right: 0px;
    margin-left: 0px;
}

.seccion-noticias {
    margin: 5px auto;
}

.twiter {
    margin-left: 10px;
}

.efemerides {
    overflow: hidden;
    border-top: 2px solid #ffcd30;
    border-bottom: 2px solid #ffcd30;
}

.programas {
    border-top: 2px solid #ffcd30;
}

.tabla-programas {
    height: 600px;
}


/*-----------PROGRAMAS_____________*/

.programas {
    background-image: url('../img/fondo-4.jpg');
    margin: 0 auto;
    border-top: 2px solid #ffcd30;
    border-bottom: 2px solid #ffcd30;
    overflow: hidden;
}

#programas {
    font-family: Arial !important;
    z-index: 1;
}

#programas ul,
ol {
    text-align: center;
}

#programas ul {
    list-style-type: none;
    text-align: center;
}

#programas li {
    display: inline;
    text-align: center;
    margin: 0 10px 0 0;
    color: black;
}

#programas .inside-card {
    -webkit-padding-after: 0px;
    -webkit-padding-before: 0px;
    padding-block-end: 0px;
    padding-block-start: 0px;
    text-align: center;
}

#programas .img {
    margin-top: 0em !important;
}

#programas .contenedor-text {
    margin-bottom: 1em;
}

#programas .contenedor .square {
    margin-left: 0px;
}

#programas .modal-body {
    margin-left: 0px;
}

#programas .carousel-control.right {
    right: -60px;
}

#programas .contenedor {
    padding: 1px !important;
    padding-left: 20px;
    padding-right: 20px;
    /* margin: 50px; */
    margin-left: 100px;
    margin-right: -100px;
}

#programas .carousel-inner {
    position: relative;
    width: 100%;
    /* overflow: hidden; */
}
/*.carousel-inner > .item {
  position: relative;
  display: none;
  -webkit-transition: 0.6s ease-in-out left;
     -moz-transition: 0.6s ease-in-out left;
       -o-transition: 0.6s ease-in-out left;
          transition: 0.6s ease-in-out left;
}*/
#programasCarousel .carousel-inner {
    margin-left: 30px;
    margin-right: 30px;
}

#programas .ih-item.square {
    position: relative;
    width: 234px;
    height: 216px;
    border: 3px solid #fff;
    box-shadow: 1px 1px 3px rgba(133, 129, 129, 0.66);
}

#programas .card .col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 0px !important;
    padding-left: 0px !important;
}


/*-----------EFEMERIDES------------*/

#efemerides html,
body {
    width: 100%;
    height: 100%;
    background-color: #000000;
    font-family: 'Sansita', sans-serif;
    color: #fff;
}

#efemerides {
    border-top: 2px solid #ffcd30;
    padding: 1em auto !important;
    margin-left: 0em;
    margin-bottom: 2em;
}

#efemerides .carousel-inner,
.carousel,
.item,
.container,
.fill {
    height: 100%;
    width: 100%;
    background-position: center center;
    background-size: cover;
}

#efemerides .slide-wrapper {
    display: inline;
}

#efemerides .slide-wrapper .container {
    padding: 0px;
}


/*------------------------------ vertical bootstrap slider----------------------------*/

#efemerides .carousel-inner>.item.next,
.carousel-inner>.item.active.right {
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -o-transform: translateY(100%);
    top: 0;
    left: 0;
}

#efemerides .carousel-inner>.item.prev,
.carousel-inner>.item.active.left {
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    top: 0;
    left: 0;
}

#efemerides .carousel-inner>.item.next.left,
.carousel-inner>.item.prev.right,
.carousel-inner>#efemerides .item.active {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    top: 0;
    left: 0;
}





/***********************/


/*     GALERIA         */


/***********************/

#galeria {
    background-image: url('../img/fondo-6.jpg');
    background-color: #000;
    border-top: 2px solid #ffcd30;
    border-bottom: 2px solid #ffcd30;
    padding: 1em auto;
}

#galeria img {
    filter: gray;
    /* IE6-9 */
    -webkit-filter: grayscale(1);
    /* Google Chrome, Safari 6+ & Opera 15+ */
    -webkit-box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.75);
    margin-bottom: 20px;
}

#galeria img:hover {
    filter: none;
    /* IE6-9 */
    -webkit-filter: grayscale(0);
    /* Google Chrome, Safari 6+ & Opera 15+ */
}


/***********************/


/*   Carousel Video    */


/***********************/


/* Makes images fully responsive */

#videoteca {
    background-color: #000;
    border-top: 2px solid #ffcd30;
    padding: 1em auto;
    padding-top: 3em;
}
#videoteca .container{
    padding-left: 105px;
    left: 0;
    right: 0;
}

#videoteca .img-responsive,
ec .thumbnail>img,
.thumbnail a>img,
.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
    display: block;
    width: 100%;
    height: auto;
}




/**************EVENTOS***************/

#eventos {
    background-color: #000;
    padding: 1em auto;
    border-top: 2px solid #ffcd30;
    border-bottom: 2px solid #ffcd30;
}

#eventos .img-responsive,
.thumbnail>img,
.thumbnail a>img,
.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
    display: block;
    width: 100%;
    height: auto;
}


.debate {
    background-color: #575757;
    color: white;
    margin: 0 auto;
}

#debate h2 {
    margin: 0 auto !important;
}

#debate .contenido {
    text-align: justify;
}

#debate .titulo {
    text-align: center;
}

#debate {
    border-top: 2px solid #ffcd30;
    border-bottom: 2px solid #ffcd30;
    position: relative;
    /*background-image: url('../img/background/debate.jpg');*/
    /*height: 472px;*/
    z-index: 0;
}

#debate .img {
    margin-top: 0 !important;
    padding: 0 auto !important;
    z-index: 0 !important;
}

#debate .section {
    padding-top: 20px;
    background-size: 100% auto;
}

#debate .section {
    padding-top: 0 !important;
    position: relative;
}

#debate a {
    color: #e74c3c;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

#debate .debate_texto a {
    color: #fff;
}

#debate .debate_texto {
    color: #fff;
    position: absolute;
    left: 5%;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);
    top: 30%;
    width: 41%;
    font-size: 12px;
}

#debate @media (min-width: 1350px) {
    #debate .debate_texto a p {
        font-size: 1.5em;
        line-height: 28px;
    }
}

#debate .debate_texto p {
    font-size: 14px;
    font-weight: bold;
}

#debate @media (min-width: 1350px) {
    #debate .debate_texto a  {
        margin-top: 60px;
        font-size: 1.5em;
    }
    #debate  .firma {
        margin-top: 60px;
        font-size: 0.75em;
    }
}

#debate .debate_texto {
    font-size: 24px;
    font-weight: bold;
    text-align: right;
}
#debate .firma {
    font-size: 15px;
    font-weight: bold;
    text-align: right;
}

#organizacion {
    background-image: url('../img/fondo-5.jpg');
    margin: 0 auto;
    border-top: 2px solid #ffcd30;
    border-bottom: 2px solid #ffcd30;
    overflow: hidden;
    margin-left: 0px;
    margin-right: : 10px;
    padding-left: 10px;
    padding-right: 10px;
}

#organizacion .texto {
    text-align: justify;
    margin-left: 10px;
    margin-bottom: 20px;
}

#organizacion .resumen {
    margin: 10px auto;
    padding: 10px auto;
}

.timeline-Viewport {
    margin-left: 40px;
}

.container {
    padding-left: 30px;
}


footer {
    background: #F5F7FA;
    color: #ecf0f1;
}

footer #copyright {
    background: #1A1B1D;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    padding: 20px 0;
}

#copyright {
    padding-top: 3em;
    padding-bottom: 3em;
    height: 250px;
}

.fixeded {
    z-index: 0;
    position: fixed;
}
.repro{
    border: 0.5px solid #ECECEC;
    border-radius: 18px;
    margin-left: auto;
    margin-right: -15px;
    height: 70px !important;
    color: #FFF;
    border-bottom-style: none;
    border-top-style: none;
    background: #000;
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 20px;
    z-index: 1000;
    margin-bottom: 0px;
}
.cont{
    border: 0.5px solid #692a2a;
    border-radius: 18px;
    margin-left: -10px;
    margin-right: auto;
    height: 70px !important;
    color: #FFF;
    border-bottom-style: none;
    border-top-style: solid;
    background: #000;
    left: 0px;
    right: 0px;
    bottom: 1px;
    margin-bottom: 0px;
}
.repro-buttom {
        display: flex;
        margin-top: 7px;
        margin-left: 45px;
        margin-right: 45px;
}
.repro-bar {
        margin-left: 10px;
        margin-top: 10px;
}

.repo-titulo{
    margin-top: -5px;
}
.cont-titulo{
    margin-top: 10px;
    margin-left: 12px;
}
.cont-text{
    color: #fff;
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}

.copyright{
        background-color: #000;
}
